force-app/main/default/flows/Add_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FollowUpTaskComparisionLead</name>
        <label>FollowUpTaskComparisionLead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Lead_Added_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow up Leased-Line-Comparison Lead</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>BasingstokeGiganetLocalRyan</name>
        <choiceText>Basingstoke-GiganetLocal-Ryan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Basingstoke-GiganetLocal-Ryan</stringValue>
        </value>
    </choices>
    <choices>
        <name>GlasgowCityfibreRyan</name>
        <choiceText>Glasgow-Cityfibre-Ryan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Glasgow-Cityfibre-Ryan</stringValue>
        </value>
    </choices>
    <choices>
        <name>GlasshouseStudiosDale</name>
        <choiceText>Glasshouse-Studios-Dale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Glasshouse-Studios-Dale</stringValue>
        </value>
    </choices>
    <choices>
        <name>leased_line_comparison</name>
        <choiceText>leased-line-comparison</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leased-line-comparison</stringValue>
        </value>
    </choices>
    <choices>
        <name>PortsmouthBusinessExpo2022</name>
        <choiceText>Portsmouth Business Expo 2022</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portsmouth Business Expo 2022</stringValue>
        </value>
    </choices>
    <choices>
        <name>SouthamptonB2BExpo</name>
        <choiceText>Southampton B2B Expo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Southampton B2B Expo</stringValue>
        </value>
    </choices>
    <choices>
        <name>TrifleSolutions</name>
        <choiceText>Trifle Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trifle Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnitedLearning</name>
        <choiceText>United Learning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>United_Learning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lead_Source_Decision</name>
        <label>Lead Source Decision</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Lead_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leased-line-comparison</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>Paid Lead Provider</label>
        </rules>
        <rules>
            <name>Trade_Show</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Southampton B2B Expo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portsmouth Business Expo 2022</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest</targetReference>
            </connector>
            <label>Trade Show</label>
        </rules>
        <rules>
            <name>Employee_Research</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United_Learning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glasgow-Cityfibre-Ryan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basingstoke-GiganetLocal-Ryan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glasshouse-Studios-Dale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_0_0</targetReference>
            </connector>
            <label>Employee Research</label>
        </rules>
        <rules>
            <name>Outsourced_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trifle Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_0_0_0</targetReference>
            </connector>
            <label>Outsourced Agency</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IndustryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Interest_Choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Interest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Created_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_Input.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_Input.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Service_Description__c</field>
            <value>
                <elementReference>Internet_Speed_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Paid Lead Provider</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Reference__c</field>
            <value>
                <elementReference>leased_line_comparison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address_Input.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_Input.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_Input.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0</name>
        <label>Create Lead</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Created_Employee_Research_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_when_adding_employee_researched_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_Input.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_Input.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Employee_initiative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Reference__c</field>
            <value>
                <elementReference>Lead_Source_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address_Input.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_Input.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_Input.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0_0</name>
        <label>Create Lead</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Created_Outsouced_Agency_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_when_adding_employee_researched_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_Input.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_Input.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Outsourced Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Reference__c</field>
            <value>
                <elementReference>Lead_Source_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address_Input.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_Input.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_Input.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Trade_Show_Lead</name>
        <label>Create Lead Trade Show Lead</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Created_Tradeshow_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_when_adding_employee_researched_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_Input.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_Input.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Trade Show</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Reference__c</field>
            <value>
                <elementReference>Lead_Source_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address_Input.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_Input.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_Input.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Employee_Research_Lead</name>
        <label>Get Created Employee Research Lead</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Added_Screen_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Lead</name>
        <label>Get Created Lead</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FollowUpTaskComparisionLead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_when_adding_employee_researched_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Outsouced_Agency_Lead</name>
        <label>Get Created Outsouced Agency Lead</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Added_Screen_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Tradeshow_Lead</name>
        <label>Get Created Tradeshow Lead</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Added_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Lead_Screen</name>
        <label>Add Lead Screen</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lead_Source_Decision</targetReference>
        </connector>
        <fields>
            <name>Lead_Source_Input</name>
            <choiceReferences>leased_line_comparison</choiceReferences>
            <choiceReferences>UnitedLearning</choiceReferences>
            <choiceReferences>GlasgowCityfibreRyan</choiceReferences>
            <choiceReferences>BasingstokeGiganetLocalRyan</choiceReferences>
            <choiceReferences>GlasshouseStudiosDale</choiceReferences>
            <choiceReferences>TrifleSolutions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Lead_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Lead_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Internet_Speed_Interest</name>
                    <dataType>String</dataType>
                    <fieldText>Internet Speed Interest</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>IndustryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Address_Input</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>leased_line_comparison</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SouthamptonB2BExpo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PortsmouthBusinessExpo2022</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>UnitedLearning</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GlasgowCityfibreRyan</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BasingstokeGiganetLocalRyan</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GlasshouseStudiosDale</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TrifleSolutions</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_when_adding_employee_researched_Lead</name>
        <label>Error when adding employee researched Lead</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_error_message</name>
            <fieldText>&lt;p&gt;Please make sure that the address information was filled in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interest</name>
        <label>Interest</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead_Trade_Show_Lead</targetReference>
        </connector>
        <fields>
            <name>Interest_Input</name>
            <choiceReferences>Lead_Interest_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interest</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>j</name>
            <choiceReferences>Lead_Interest_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Added_Screen</name>
        <label>Lead Added Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Added_Confirmation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Added !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Lead Link: &lt;/b&gt;&lt;a href=&quot;https://m12.lightning.force.com/lightning/r/Lead/{!Get_Created_Lead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;Click Here&lt;/b&gt; &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Added_Screen_0</name>
        <label>Lead Added Screen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Added_Confirmation_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Added !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Lead Link: &lt;/b&gt;&lt;a href=&quot;https://m12.lightning.force.com/lightning/r/Lead/{!Get_Created_Tradeshow_Lead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;Click Here&lt;/b&gt; &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Run a Connectivity Check: &lt;/b&gt;&lt;a href=&quot;https://api.m12.net.uk/quotes/create&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;Click Here&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Added_Screen_0_0</name>
        <label>Lead Added Screen</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Added_Confirmation_Text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Added !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Lead Link: &lt;/b&gt;&lt;a href=&quot;https://m12.lightning.force.com/lightning/r/Lead/{!Get_Created_Employee_Research_Lead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;Click Here&lt;/b&gt; &lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Added_Screen_0_0_0</name>
        <label>Lead Added Screen</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Added_Confirmation_Text_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Added !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Lead Link: &lt;/b&gt;&lt;a href=&quot;https://m12.lightning.force.com/lightning/r/Lead/{!Get_Created_Employee_Research_Lead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;Click Here&lt;/b&gt; &lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Lead_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
