force-app/main/default/flows/ADP_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Quick_Choice_Review_Create_Strategy_Screen</name>
        <label>Assign Quick Choice - Review/Create Strategy Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Icon_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_lookup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review a current strategy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a new strategy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Perform a review on Objectives, Campaigns &amp; Route to Market Strategies</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_ADP_Strategy_Update_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create new Objectives, Campaigns &amp; Route to Market Strategies</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADP_Strategy_Update_Create_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Review_a_current_strategy</name>
        <label>Review a current strategy</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Review_ADP_Strategies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Review a current strategy</defaultConnectorLabel>
        <rules>
            <name>Create_new_ADP_Strategy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ADP_Strategy_Update_Create_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create a new strategy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ADP_Strategies</targetReference>
            </connector>
            <label>Create new ADP Strategy</label>
        </rules>
    </decisions>
    <description>Screenflow for the ADP review</description>
    <interviewLabel>ADP Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADP Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ADP_Review</name>
        <label>Get ADP Review</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_ADP</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_Review_Task_RecordType_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ADP_Review_Task_Record_Type</name>
        <label>Get ADP Review Task Record Type</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ADP_Review</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADP_Review</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ADP_Review_Task_RecordType_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the account development plan ID</description>
        <name>Get_Current_ADP</name>
        <label>Get Current ADP</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quick_Choice_Review_Create_Strategy_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ADP_Review.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Development_Plan__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ADP_Strategy_Update_Create_Choice_Screen</name>
        <label>ADP Strategy Update/Create Choice Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_a_current_strategy</targetReference>
        </connector>
        <fields>
            <name>Review_Option_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Select an ADP Review Option&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ADP_Strategy_Update_Create_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icon_Collection_ADP_Strategy_Update_Create</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Label_Collection_ADP_Strategy_Update_Create</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Description_Collection_ADP_Strategy_Update_Create</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error_Screen</name>
        <label>Flow Error Screen</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please speak to Josh&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ADP_Review_Task_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_ADP_Strategies</name>
        <label>Create ADP Strategies</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <flowName>ADP_Create_Strategies</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Current_ADP.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Review_ADP_Strategies</name>
        <label>Review ADP Strategies</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <flowName>ADP_Review_Strategies</flowName>
        <inputAssignments>
            <name>ADP_ID</name>
            <value>
                <elementReference>Get_Current_ADP.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ADP_Review_Task_RecordType_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable to capture all of the description for the ADP strategy choice</description>
        <name>Description_Collection_ADP_Strategy_Update_Create</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable to capture all of the icons for the ADP strategy choice</description>
        <name>Icon_Collection_ADP_Strategy_Update_Create</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable to capture all of the labels for the ADP strategy choice</description>
        <name>Label_Collection_ADP_Strategy_Update_Create</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ADP record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
