force-app/main/default/flows/ADP_Create_Strategies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_Strategy_Choices</name>
        <label>Assign New Strategy Choices</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Icon_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:partners</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:partners</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Add a Partner Objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Add a Giganet Objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Add a Marketing Initiative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a new partner objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a new Giganet objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Create_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Add a new marketing campaign or initiative and link it to the ADP </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Strategy_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Giganet_Channel_Objective_Values</name>
        <label>Set Giganet Channel Objective Values</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Objective_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Giganet Channel Objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Objective_Screen_Name_Text_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Set A New Giganet Channel Objective</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Partner_Objective_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Objective_Values</name>
        <label>Set Partner Objective Values</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Objective_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Objective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Objective_Screen_Name_Text_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Set A New Partner Objective</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Partner_Objective_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Strategy_Create_Choice</name>
        <label>Strategy Create Choice</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_a_Marketing_Initiative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Marketing Initiative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Channel_Campaign_Record_Type</targetReference>
            </connector>
            <label>Add a Marketing Initiative</label>
        </rules>
        <rules>
            <name>Add_Partner_Objective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Partner Objective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_Objective_Values</targetReference>
            </connector>
            <label>Add Partner Objective</label>
        </rules>
        <rules>
            <name>Add_Giganet_Objective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Giganet Objective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Giganet_Channel_Objective_Values</targetReference>
            </connector>
            <label>Add Giganet Objective</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Outcome_Objective_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Outcome__c</picklistField>
        <picklistObject>ADP_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status_Objective_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>ADP_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ADP Create Strategies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADP Create Strategies</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Blank_Campaign_Record</name>
        <label>Create Blank Campaign Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Blank_Campaign_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Development_Plan__c</field>
            <value>
                <elementReference>Get_Account_Development_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Account_Development_Plan.Account__r.Name} -</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Channel_Campaign_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Objective</name>
        <label>Create Partner Objective</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <inputAssignments>
            <field>Account_Development_Plan__c</field>
            <value>
                <elementReference>Get_Account_Development_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approach__c</field>
            <value>
                <elementReference>Approach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Review_Comments__c</field>
            <value>
                <elementReference>Owner_Review_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Date__c</field>
            <value>
                <elementReference>Target_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Objective_Variable.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>ADP_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Development_Plan</name>
        <label>Get Account Development Plan</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Strategy_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Development_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blank_Campaign_Record</name>
        <label>Get Blank Campaign Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Marketing_Initiative_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Blank_Campaign_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Channel_Campaign_Record_Type</name>
        <label>Get Channel Campaign Record Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Blank_Campaign_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Channel_Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Blank_Campaign_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualCost</field>
            <value>
                <elementReference>Campaign_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Blank_Campaign_Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Add_Partner_Objective_Screen</name>
        <label>Add Partner Objective Screen</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Partner_Objective</targetReference>
        </connector>
        <fields>
            <name>Objective_Type_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Objective_Screen_Name_Text_Variable}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Partner_Objective_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Partner_Objective_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Status_Objective_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Draft</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Partner_Objective_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Objective_header</name>
            <fieldText>Objective</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Objective_header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Objective</name>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Objective_header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approach</name>
                    <fieldText>Approach</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Outcome_Header</name>
            <fieldText>Outcome</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outcome_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Outcome</name>
                    <choiceReferences>Outcome_Objective_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outcome_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner_Review_Comments</name>
                    <fieldText>Owner Review Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Marketing_Initiative_Screen</name>
        <label>Create a Marketing Initiative Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
        <fields>
            <name>New_Campaign_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create a New Campaign&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Blank_Campaign_Record.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Create_a_Marketing_Initiative_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_Marketing_Initiative_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Blank_Campaign_Record.StartDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Blank_Campaign_Record.Type</objectFieldReference>
                </fields>
                <fields>
                    <name>Campaign_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Campaign Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_a_Marketing_Initiative_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Blank_Campaign_Record.EndDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Blank_Campaign_Record.Status</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Blank_Campaign_Record.Description</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Strategy_Choice_Screen</name>
        <label>Create Strategy Choice Screen</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Strategy_Create_Choice</targetReference>
        </connector>
        <fields>
            <name>Create_Strategy_choices</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icon_Collection_Create_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Label_Collection_Create_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Description_Collection_Create_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Development_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Description_Collection_Create_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icon_Collection_Create_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Label_Collection_Create_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Objective_Screen_Name_Text_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Objective_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADP_Objective__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
