force-app/main/default/flows/ADP_Review_Strategies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Review_Strategy_Choices</name>
        <label>Assign Review Strategy Choices</label>
        <locationX>1942</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Icon_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:partners</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:partners</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:tour</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icon_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:forecasts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Partner Objectives</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Giganet Objectives</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Route to Market</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Link Opp to Campaign </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Label_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update Forecast</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review and make changes to the partners objectives</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review and make changes to the account managers objectives</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update the partners route to market; Location of Focus, Sector and Company Size</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Select opportunities and relate them to their influential primary campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_Collection_Review_Strategy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update the partners ethernet and FTTP run rate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Strategy_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Channel_Forecast_Collection</name>
        <label>Channel Forecast Collection</label>
        <locationX>3394</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Channel_Forecast_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Channel_Forecast_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Forecast_Months</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Giganet_Channel_Objective_Collection</name>
        <label>Giganet Channel Objective Collection</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Giganet_Channel_Objective_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Giganet_Channel_Objective</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Campaign_Collection</name>
        <label>Opportunity Campaign Collection</label>
        <locationX>2778</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Campaign_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Campaign_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partner_Objective_Collection</name>
        <label>Partner Objective Collection</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Partner_Objective_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Objective_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_to_Market_Collection</name>
        <label>Route to Market Collection</label>
        <locationX>2558</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Route_to_Market_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Route_to_Market_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Route_to_Market_Choices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_Forecast_Values</name>
        <label>Set Channel Forecast Values</label>
        <locationX>3394</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Channel_Forecast_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Forecast_Months.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Forecast_Variable.Minimum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Forecast_Months.Minimum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Forecast_Variable.Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Forecast_Months.Expected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Forecast_Variable.Upside__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Forecast_Months.Upside__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Channel_Forecast_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Giganet_Channel_Objective_Values</name>
        <label>Set Giganet Channel Objective Values</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giganet_Channel_Objective_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Approach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approach_Giganet_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giganet_Channel_Objective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giganet_Channel_Objective_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giganet_Channel_Objective_Target_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Owner_Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giganet_Channel_Owner_Review_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Giganet_Channel_Objective_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Giganet_Channel_Objective.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Giganet_Channel_Objective_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Values</name>
        <label>Set Opportunity Values</label>
        <locationX>2778</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Campaign_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Campaign_Variable.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Selection_Table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Campaign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Objectives_Values</name>
        <label>Set Partner Objectives Values</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Objective_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Approach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approach_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objective_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Objective_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Objective_Target_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Owner_Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Review_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Objective_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Objective_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Company_Size_Values</name>
        <label>Set Updated Company Size Values</label>
        <locationX>2162</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.SME_5_20_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.SME_5_20_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.SME_20_50_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.SME_20_50_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.SME_50_100_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.SME_50_100_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Enterprise_100_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Enterprise_100_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_to_Market_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Location_Values</name>
        <label>Set Updated Location Values</label>
        <locationX>2690</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Berks_Bucks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Berks_Bucks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.East_Anglia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.East_Anglia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Midlands__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Midlands__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.North__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.North_East__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.North_East__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Scotland__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Scotland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.South_East__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.South_East__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.South_West__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.South_West__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Yorkshire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Yorkshire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_to_Market_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Sector_Values</name>
        <label>Set Updated Sector Values</label>
        <locationX>2426</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.SME_50_100_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.SME_50_100_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Enterprise_100_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Enterprise_100_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Arts_Entertainment_Recreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Arts_Entertainment_Recreation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Construction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Construction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Education__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Healthcare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Healthcare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Hospitality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Hospitality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Manufacturing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Manufacturing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Media_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Media_Services__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Real_Estate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Real_Estate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Wholesale_Retail_Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Wholesale_Retail_Trade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Route_to_Market_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Route_to_Market_Choices.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_to_Market_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_are_any_campaigns_or_opportunities</name>
        <label>Check if there are any campaigns or opportunities</label>
        <locationX>2822</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Records_Dont_Exist_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Dont Exist</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ADP_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ADP_Campagins</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Campaign_Opportunities_Screen</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_Market_Decision_Assignment</name>
        <label>Route to Market Decision Assignment</label>
        <locationX>2558</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company_Size</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Updated_Company_Size_Values</targetReference>
            </connector>
            <label>Company Size Decision</label>
        </rules>
        <rules>
            <name>Sector_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sectors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Updated_Sector_Values</targetReference>
            </connector>
            <label>Sector Decision</label>
        </rules>
        <rules>
            <name>Location_of_Focus_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Updated_Location_Values</targetReference>
            </connector>
            <label>Location of Focus Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Strategy_Review_Choice</name>
        <label>Strategy Review Choice</label>
        <locationX>1942</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Partner_Objectives_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Partner Objectives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Channel_Partner_Objectives</targetReference>
            </connector>
            <label>Update Partner Objectives</label>
        </rules>
        <rules>
            <name>Update_Giganet_Objectives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Giganet Objectives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Giganet_Channel_Objective</targetReference>
            </connector>
            <label>Update Giganet Objectives</label>
        </rules>
        <rules>
            <name>Update_Route_to_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Route to Market</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Route_to_Market_Options</targetReference>
            </connector>
            <label>Update Route to Market</label>
        </rules>
        <rules>
            <name>Link_Opportunities_to_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Opp to Campaign </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ADP_Opportunities</targetReference>
            </connector>
            <label>Link Opportunities to Campaign</label>
        </rules>
        <rules>
            <name>Update_Forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Strategy_choices.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Forecast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Forecast</targetReference>
            </connector>
            <label>Update Forecast</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Objective_Outcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Outcome__c</picklistField>
        <picklistObject>ADP_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Objective_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>ADP_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ADP Review Stratergies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADP Review Strategies</label>
    <loops>
        <name>Loop</name>
        <label>Loop Selected Partner Objectives</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Parter_Objective_Datatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdatePartnerObjectivesScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Partner_Objectives</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Route_to_Market_Choices</name>
        <label>Loop Route to Market Choices</label>
        <locationX>2074</locationX>
        <locationY>878</locationY>
        <collectionReference>Route_to_Market_Choice_Table.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Company_Size_Options_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Route_to_Market_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Forecast_Months</name>
        <label>Loop Selected Forecast Months</label>
        <locationX>3306</locationX>
        <locationY>878</locationY>
        <collectionReference>Channel_Forecast_Table.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Forecast_Month_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Channel_Forecast_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Giganet_Channel_Objective</name>
        <label>Loop Selected Giganet Channel Objective</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <collectionReference>Giganet_Channel_Objective_Objective_Datatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Giganet_Channel_Objective_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Giganet_Channel_Objective</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Opportunities</name>
        <label>Loop Selected Opportunities</label>
        <locationX>2690</locationX>
        <locationY>1118</locationY>
        <collectionReference>Opportunity_Selection_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_a_Campaign_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Development_Plan</name>
        <label>Get Account Development Plan</label>
        <locationX>1942</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Review_Strategy_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Development_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Forecast</name>
        <label>Get Account Forecast</label>
        <locationX>3306</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Forecast_Months_to_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Development_Plan.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Channel_Forecast__c</object>
        <sortField>Forecast_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ADP_Campagins</name>
        <label>Get ADP Campagins</label>
        <locationX>2822</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_any_campaigns_or_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ADP opportunities that are not associated with a primary marketing campaign</description>
        <name>Get_ADP_Opportunities</name>
        <label>Get ADP Opportunities</label>
        <locationX>2822</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ADP_Campagins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Channel_Partner_Objectives</name>
        <label>Get Channel Partner Objectives</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Partner_Objectives_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Objective</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ADP_Objective__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Giganet_Channel_Objective</name>
        <label>Get Giganet Channel Objective</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Giganet_Channel_Objective_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Giganet Channel Objective</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ADP_Objective__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Route_to_Market_Options</name>
        <label>Get Route to Market Options</label>
        <locationX>2074</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Route_to_Market_Options_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADP_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Route_to_Market__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Channel_Forecast_Records</name>
        <label>Update Channel Forecast Records</label>
        <locationX>3306</locationX>
        <locationY>1454</locationY>
        <inputReference>Channel_Forecast_Collection_Variable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Giganet_Channel_Objective</name>
        <label>Update Giganet Channel Objective</label>
        <locationX>666</locationX>
        <locationY>1454</locationY>
        <inputReference>Giganet_Channel_Objective_Collection_Variable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>2690</locationX>
        <locationY>1694</locationY>
        <inputReference>Opportunity_Campaign_Collection_Variable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Objectives</name>
        <label>Update Partner Objectives</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <inputReference>Partner_Objective_Collection_Variable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Route_to_Market_Records</name>
        <label>Update Route to Market Records</label>
        <locationX>2074</locationX>
        <locationY>1670</locationY>
        <inputReference>Route_to_Market_Collection_Variable</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_Dont_Exist_Screen</name>
        <label>Records Don&apos;t Exist Screen</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Records_Dont_Exist_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Opportunity / Campaigns do not exist on {!Get_Account_Development_Plan.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please create a new campaign on the ADP or a new opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Strategy_Choice_Screen</name>
        <label>Review Strategy Choice Screen</label>
        <locationX>1942</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Strategy_Review_Choice</targetReference>
        </connector>
        <fields>
            <name>Review_Strategy_choices</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icon_Collection_Review_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Label_Collection_Review_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Description_Collection_Review_Strategy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Campaign_Screen</name>
        <label>Select a Campaign Screen</label>
        <locationX>2778</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Values</targetReference>
        </connector>
        <fields>
            <name>Campaign_Selection_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a campaign from the table that you would like to link with {!Loop_Selected_Opportunities.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Selection_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Campaign</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign_Selection_Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ADP_Campagins</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-94e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-6438&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-fc9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Campaign_Opportunities_Screen</name>
        <label>Select Campaign Opportunities Screen</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Selection_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select an opportunity from the table that you would like to link with a campaign &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Selection_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Selection Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ADP_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f86e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-08b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Total_Contract_Value__c&quot;,&quot;guid&quot;:&quot;column-e2f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Contract Revenue&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Company_Size_Options_Screen</name>
        <label>Select Company Size Options Screen</label>
        <locationX>2558</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Route_to_Market_Decision_Assignment</targetReference>
        </connector>
        <fields>
            <name>Route_to_Market_Screen_2_Selection_Text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Company_Size_Options_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.SME_5_20_Employees__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.SME_20_50_Employees__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.SME_50_100_Employees__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Enterprise_100_Employees__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Company_Size</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Company_Size_Options_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Berks_Bucks__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.East_Anglia__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Midlands__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.South_West__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Yorkshire__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.North__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.North_East__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Scotland__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.South_East__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Location</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Company_Size_Options_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Arts_Entertainment_Recreation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Construction__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Education__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Healthcare__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Hospitality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Company_Size_Options_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Manufacturing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Media_Services__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Professional_Services__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Real_Estate__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_Route_to_Market_Choices.Wholesale_Retail_Trade__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Route_to_Market_Choices.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Sectors</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Forecast_Months_to_Update</name>
        <label>Select Forecast Months to Update</label>
        <locationX>3306</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Forecast_Months</targetReference>
        </connector>
        <fields>
            <name>Forecast_Month_Selection_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select the forecast months in the table below that you would like to update&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Channel_Forecast_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Channel_Forecast__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Channel_Forecast__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Month__c,Year__c,Minimum__c,Expected__c,Upside__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Month__c:213, Year__c:213, Minimum__c:213, Expected__c:213, Upside__c:213</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Forecast</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Giganet_Channel_Objective_Screen</name>
        <label>Select Giganet Channel Objective Screen</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Giganet_Channel_Objective</targetReference>
        </connector>
        <fields>
            <name>Giganet_Channel_Objective_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Select the Objectives of {!Get_Account_Development_Plan.Account__r.Name} to update&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Giganet_Channel_Objective_Objective_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ADP_Objective__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ADP_Objective__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Status__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Objective__c,Approach__c,Status__c,Outcome__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Objective__c:319, Approach__c:319, Status__c:319, Outcome__c:319</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Objective__c:true, Approach__c:true, Status__c:true, Outcome__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Giganet_Channel_Objective</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Partner_Objectives_Screen</name>
        <label>Select Partner Objectives Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <fields>
            <name>Channel_Objectives_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select the Objectives of {!Get_Account_Development_Plan.Account__r.Name} to update&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parter_Objective_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ADP_Objective__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ADP_Objective__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Channel_Partner_Objectives</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Status__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Objective__c,Approach__c,Status__c,Outcome__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Objective__c:319, Approach__c:319, Status__c:319, Outcome__c:319</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Objective__c:true, Approach__c:true, Status__c:true, Outcome__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Route_to_Market_Options_Screen</name>
        <label>Select Route to Market Options Screen</label>
        <locationX>2074</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Route_to_Market_Choices</targetReference>
        </connector>
        <fields>
            <name>Route_to_Market_Selection_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select opportunities you would like to link to marketing initiatives found in the ADP &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Route_to_Market_Choice_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Route_to_Market__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Route_to_Market__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Route_to_Market_Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Route_to_Market_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Route_to_Market_Type__c:1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Forecast_Month_Screen</name>
        <label>Update Forecast Month Screen</label>
        <locationX>3394</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Channel_Forecast_Values</targetReference>
        </connector>
        <fields>
            <name>Forecast_Month_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_Forecast_Months.Month__c} - {!Loop_Selected_Forecast_Months.Year__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Selected_Forecast_Months.Minimum__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Selected_Forecast_Months.Expected__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Selected_Forecast_Months.Upside__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Giganet_Channel_Objective_Screen</name>
        <label>Update Giganet Channel Objective Screen</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Giganet_Channel_Objective_Values</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Partner_Objective_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Loop_Selected_Giganet_Channel_Objective.Name} - {!Loop_Selected_Giganet_Channel_Objective.Objective__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Giganet_Channel_Objective_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Giganet_Channel_Objective_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giganet_Channel_Objective_Status</name>
                    <choiceReferences>Objective_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Giganet_Channel_Objective.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Giganet Channel Objective Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Giganet_Channel_Objective_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giganet_Channel_Objective_Target_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Giganet_Channel_Objective.Target_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Giganet_Channel_Objective_Header</name>
            <fieldText>Giganet Channel Objective</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Giganet_Channel_Objective_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giganet_Channel_Objective</name>
                    <defaultValue>
                        <stringValue>{!Loop_Selected_Giganet_Channel_Objective.Objective__c}</stringValue>
                    </defaultValue>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Giganet_Channel_Objective_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approach_Giganet_Channel</name>
                    <defaultValue>
                        <stringValue>{!Loop_Selected_Giganet_Channel_Objective.Approach__c}</stringValue>
                    </defaultValue>
                    <fieldText>Approach</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Giganet_Channel_Objective_Review</name>
            <fieldText>Giganet Channel Objective Review</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Giganet_Channel_Objective_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giganet_Channel_Objective_Outcome</name>
                    <choiceReferences>Objective_Outcome</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Giganet_Channel_Objective.Outcome__c</elementReference>
                    </defaultValue>
                    <fieldText>Giganet Channel Objective Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Giganet_Channel_Objective_Review_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giganet_Channel_Owner_Review_Comments</name>
                    <defaultValue>
                        <stringValue>{!Loop_Selected_Giganet_Channel_Objective.Owner_Review_Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Owner Review Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdatePartnerObjectivesScreen</name>
        <label>Update Partner Objectives Screen</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Partner_Objectives_Values</targetReference>
        </connector>
        <fields>
            <name>Partner_Objective_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Loop.Name} - {!Loop.Objective__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UpdatePartnerObjectivesScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdatePartnerObjectivesScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Objective_Status</name>
                    <choiceReferences>Objective_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Partner Objective Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpdatePartnerObjectivesScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Objective_Target_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Loop.Target_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_Objective</name>
            <fieldText>Partner Objective</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Objective_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Objective_Partner</name>
                    <defaultValue>
                        <stringValue>{!Loop.Objective__c}</stringValue>
                    </defaultValue>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Objective_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approach_Partner</name>
                    <defaultValue>
                        <stringValue>{!Loop.Approach__c}</stringValue>
                    </defaultValue>
                    <fieldText>Approach</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_Objective_Review</name>
            <fieldText>Partner Objective Review</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Objective_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Objective_Outcome</name>
                    <choiceReferences>Objective_Outcome</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop.Outcome__c</elementReference>
                    </defaultValue>
                    <fieldText>Partner Objective Outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Objective_Review_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner_Review_Comments</name>
                    <defaultValue>
                        <stringValue>{!Loop.Owner_Review_Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Owner Review Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1816</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Development_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ADP_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Channel_Forecast_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Forecast__c</objectType>
    </variables>
    <variables>
        <name>Channel_Forecast_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Forecast__c</objectType>
    </variables>
    <variables>
        <name>Description_Collection_Review_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Giganet_Channel_Objective_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADP_Objective__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold the looped Giganet Channel Objective screen flow inputs</description>
        <name>Giganet_Channel_Objective_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADP_Objective__c</objectType>
    </variables>
    <variables>
        <name>Icon_Collection_Review_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Label_Collection_Review_Strategy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Campaign_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_Campaign_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Partner_Objective_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADP_Objective__c</objectType>
    </variables>
    <variables>
        <name>Partner_Objective_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADP_Objective__c</objectType>
    </variables>
    <variables>
        <name>Route_to_Market_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
    <variables>
        <name>Route_to_Market_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
</Flow>
