force-app/main/default/flows/Aggregate_Won_ADP_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Detail</name>
        <label>Assign Opportunity Detail</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ADP_Won_Revenue_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_Opportunities.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ADP_Leased_Line_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_Opportunities.of_Leased_Lines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ADP_Broadband_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_Opportunities.of_Broadband__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Opportunities</targetReference>
        </connector>
    </assignments>
    <description>Record triggered flow to sum up the total amount of revenue, broadband and leased line orders</description>
    <interviewLabel>Aggregate Won ADP Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggregate Won ADP Opportunities</label>
    <loops>
        <name>Loop_all_Opportunities</name>
        <label>Loop all Opportunities</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_All_Account_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_ADP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>We need to get all of the close-won opportunities in the time period of the adp</description>
        <name>Get_All_Account_Opportunities</name>
        <label>Get All Account Opportunities</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Development_Plan__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_ADP</name>
        <label>Update the ADP</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Development_Plan__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Won_Revenue__c</field>
            <value>
                <elementReference>ADP_Won_Revenue_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Broadband_Orders__c</field>
            <value>
                <elementReference>ADP_Broadband_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Ethernet_Orders__c</field>
            <value>
                <elementReference>ADP_Leased_Line_Count</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Development_Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Account_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Development_Plan__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ADP_Broadband_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ADP_Leased_Line_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ADP_Won_Revenue_Var</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
