force-app/main/default/flows/Cease_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cease_Request_Email_Send</name>
        <label>Cease Request Email_Send</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CeaseRequestEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, amie.holmes@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cease Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Ethernet_Circuit_Type</name>
        <choiceText>Ethernet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ethernet</stringValue>
        </value>
    </choices>
    <choices>
        <name>FTTC_Circuit_Type</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <interviewLabel>Cease Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cease Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cease_Cease_Request</name>
        <label>Cease Cease Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Contact_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>Account_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_End_Date__c</field>
            <value>
                <elementReference>Billing_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Reference__c</field>
            <value>
                <elementReference>Billing_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cease_dependent_on_a_new_circuit__c</field>
            <value>
                <elementReference>Cease_dependent_on_activation_of_a_new_circuit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_Reference__c</field>
            <value>
                <elementReference>Circuit_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Lookup__c</field>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Request_Cease_Date__c</field>
            <value>
                <elementReference>Customer_Cease_Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Reason_for_Ceasing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Code__c</field>
            <value>
                <elementReference>Post_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01267000000V2kBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Cease_Date_Request__c</field>
            <value>
                <elementReference>Service_Cease_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Support_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Information</name>
        <label>Get Contact Information</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cease_Request_Email_Send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cease_Request</name>
        <label>Cease Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cease_Cease_Request</targetReference>
        </connector>
        <fields>
            <name>Contact_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Support_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Support_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Circuit_Type</name>
            <choiceReferences>Ethernet_Circuit_Type</choiceReferences>
            <choiceReferences>FTTC_Circuit_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Circuit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cease_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cease_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Circuit_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Circuit Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Circuit_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Ethernet_Circuit_Type</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Line_Number_CLI</name>
                    <dataType>String</dataType>
                    <fieldText>Line Number (CLI)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Circuit_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FTTC_Circuit_Type</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cease_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cease_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cease_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <fieldText>Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cease_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Post_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Post Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cease_dependent_on_activation_of_a_new_circuit</name>
            <dataType>Boolean</dataType>
            <fieldText>Cease dependent on activation of a new circuit?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Reference</name>
            <dataType>String</dataType>
            <fieldText>Billing Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Cease_Request_Date</name>
            <dataType>Date</dataType>
            <fieldText>Customer Cease Request Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Cease_Request</name>
            <dataType>Date</dataType>
            <fieldText>Service Cease Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cease_dependent_on_activation_of_a_new_circuit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Billing End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cease_dependent_on_activation_of_a_new_circuit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Early_Termination_Charges</name>
            <dataType>Currency</dataType>
            <fieldText>Early Termination Charges</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reason_for_Ceasing</name>
            <fieldText>Reason for Ceasing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cease_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CeaseRequestEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; align=&quot;left&quot; border=&quot;1&quot; style=&quot;width: 510.05pt; border: none; margin-left: 6.75pt; margin-right: 6.75pt;&quot; width=&quot;680&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;680&quot; colspan=&quot;2&quot; valign=&quot;bottom&quot; style=&quot;width: 510.05pt; border: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;center&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;&lt;span style=&quot;font-size: 14pt; line-height: 19.9733px; font-family: Dosis; color: gray;&quot;&gt;Cease Request Details&lt;/span&gt;&lt;/u&gt;&lt;/b&gt;&lt;b&gt;&lt;u&gt;&lt;span style=&quot;font-size: 14pt; line-height: 19.9733px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Customer Name:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Account_Lookup.recordName}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Customer Contact Name:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Get_Contact_Information.Name}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Customer Contact Number:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Get_Contact_Information.Phone}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Customer Contact Email:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Get_Contact_Information.Email}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Circuit cease dependent on activation of new connection:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Cease_dependent_on_activation_of_a_new_circuit}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Address (cease request address):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Address}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Postcode (cease request postcode):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Post_Code}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Billing Reference (found on your invoice):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Billing_Reference}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Circuit Reference (supplier reference):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Circuit_Reference}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Line number (CLI):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Line_Number_CLI}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span lang=&quot;FR&quot; style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Product Type (FTTC,Ethernet etc):&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span lang=&quot;FR&quot; style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span lang=&quot;FR&quot; style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Product}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Date Customer Requested Cease:&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Customer_Cease_Request_Date}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Date For Service to Cease:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Service_Cease_Request}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Billing End Date:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Billing_End_Date}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Early Termination Charges:&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); background: rgb(242, 242, 242); padding: 0cm 5.4pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Early_Termination_Charges}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 38.9pt;&quot;&gt;&lt;td width=&quot;265&quot; style=&quot;width: 7cm; border-right: 1pt solid rgb(191, 191, 191); border-bottom: 1pt solid rgb(191, 191, 191); border-left: 1pt solid rgb(191, 191, 191); border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 38.9pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; align=&quot;right&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: right;&quot;&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; font-family: Dosis; color: gray;&quot;&gt;Reason for ceasing:&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td width=&quot;415&quot; style=&quot;width: 311.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(191, 191, 191); border-right: 1pt solid rgb(191, 191, 191); padding: 0cm 5.4pt; height: 38.9pt;&quot;&gt;&lt;p class=&quot;MsoNormal&quot; style=&quot;margin: 0cm 0cm 8pt; line-height: 15.6933px; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 12pt; line-height: 17.12px; color: gray;&quot;&gt;{!Reason_for_Ceasing}&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
