force-app/main/default/flows/Convert_Lead_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Channel_Lead</name>
        <label>Convert Channel Lead</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <actionName>autoconvertlead__ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Created_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordTypeId</name>
            <value>
                <stringValue>01267000000V2seAAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>LeadStatusVariable.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Current_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewAccountIDVar.Id</assignToReference>
            <name>accountId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for accounts and BSC to set up a new channel account. Adding 3 contacts to the account</description>
        <name>Send_Email_3_Contacts</name>
        <label>Send Email (3+Contacts)</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_New_Contact_s</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Lead_Primary_and_Billing_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, bcs@giganet.uk, accounts@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Channel partner - {!Get_Created_Account.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for accounts and BSC to set up a new channel account. Adding new Billing contact</description>
        <name>Send_Email_With_new_Billing_Contact</name>
        <label>Send Email (With new Billing Contact)</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_New_Contact_s</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_LeadandBillingContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, bcs@giganet.uk, accounts@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Channel partner - {!Get_Created_Account.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for accounts and BSC to set up a new channel account. Adding new Billing contact</description>
        <name>Send_Email_With_new_Billing_Contact_0</name>
        <label>Send Email (With new Billing Contact)</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, bcs@giganet.uk, accounts@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Channel partner - {!Get_Created_Account.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for accounts and BSC to set up a new channel account. Adding new primary contact</description>
        <name>Send_Email_With_new_Primary_Contact</name>
        <label>Send Email (With new Primary Contact)</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_New_Contact_s</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Lead_and_Primary_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, bcs@giganet.uk, accounts@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Channel partner - {!Get_Created_Account.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>This will assign the new account ID to the new contact.</description>
        <name>Assign_Account_ID_to_Billing_Contact</name>
        <label>Assign Account ID to Billing Contact</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountIDVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assignment_for_Primary_and_Billing_Contact_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will assign the new account ID to the new contact.</description>
        <name>Assign_Account_ID_to_Primary_and_Billing_Contact</name>
        <label>Assign Account ID to Primary and Billing Contact</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountIDVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountIDVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assignment_for_Primary_and_Billing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will assign the new account ID to the new contact.</description>
        <name>Assign_Account_ID_to_Primary_Contact</name>
        <label>Assign Account ID to Primary Contact</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountIDVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assignment_for_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we will assign the new contact required details needed to be captured and also the required fields to create the contact.</description>
        <name>Assign_Alternative_Primary_Contact_Details_1</name>
        <label>Assign Alternative Primary Contact Details 1</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Job_Role_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Contact_Details_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we will assign the new contact required details needed to be captured and also the required fields to create the contact.</description>
        <name>Assign_Alternative_Primary_Contact_Details_2</name>
        <label>Assign Alternative Primary Contact Details 2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Job_Role_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative_Primary_Contact_Variable.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Converted_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_Details_1</name>
        <label>Assign Billing Contact Details 1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Job_Role_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Converted_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_Details_2</name>
        <label>Assign Billing Contact Details 2</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Lead.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Contact_Variable.Job_Role_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department_Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Converted_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Converted_Status</name>
        <label>Assign Converted Status</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>LeadStatusVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Channel_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assignment_for_Primary_and_Billing_Contact</name>
        <label>Collection Assignment for Primary and Billing Contact</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Contact_Collection_Assignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Collection_Assignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Contact_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_3_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assignment_for_Primary_and_Billing_Contact_0_0</name>
        <label>Collection Assignment for Billing Contact</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Contact_Collection_Assignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Contact_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_With_new_Billing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assignment_for_Primary_Contact</name>
        <label>Collection Assignment for Primary Contact</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Contact_Collection_Assignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alternative_Primary_Contact_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_With_new_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to determine the collection assignments required for the new contacts</description>
        <name>Additional_Contact_Collection_Assignment_Decision</name>
        <label>Additional Contact Collection Assignment Decision</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Send_Email_With_new_Billing_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is the main contact for everything</defaultConnectorLabel>
        <rules>
            <name>Add_an_alternative_primary_contact_and_billing_contact_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID_to_Primary_and_Billing_Contact</targetReference>
            </connector>
            <label>Add an alternative primary contact and billing contact (collection)</label>
        </rules>
        <rules>
            <name>Add_a_primary_contact_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID_to_Primary_Contact</targetReference>
            </connector>
            <label>Add a primary contact (collection)</label>
        </rules>
        <rules>
            <name>Add_a_billing_contact_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID_to_Billing_Contact</targetReference>
            </connector>
            <label>Add a billing contact (collection)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine the assignments required for the new contacts</description>
        <name>Additional_Contact_Decision</name>
        <label>Additional Contact Decision</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Converted_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is the main contact for everything</defaultConnectorLabel>
        <rules>
            <name>Add_an_alternative_primary_contact_and_billing_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alternative_Primary_Contact_Details_1</targetReference>
            </connector>
            <label>Add an alternative primary contact and billing contact</label>
        </rules>
        <rules>
            <name>Add_a_primary_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alternative_Primary_Contact_Details_2</targetReference>
            </connector>
            <label>Add a primary contact</label>
        </rules>
        <rules>
            <name>Add_a_billing_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact_Details_2</targetReference>
            </connector>
            <label>Add a billing contact</label>
        </rules>
    </decisions>
    <description>This flow will prompt the user to enter any other contact details and then convert the lead to an account and also notify business customer service and our accounts departnment.</description>
    <dynamicChoiceSets>
        <name>Department_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Role_Department__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Convert Lead (Channel) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead (Channel)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact_s</name>
        <label>Create New Contact/s</label>
        <locationX>446</locationX>
        <locationY>1910</locationY>
        <inputReference>Contact_Collection_Assignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Account</name>
        <label>Get Created Account</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Contact_Collection_Assignment_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAccountIDVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>M12_Account_Number__c</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Go and get the current channel lead which we will be wanting to convert into an account</description>
        <name>Get_Current_Lead</name>
        <label>Get Current Lead</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Contact_Information_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Contact_Information_Screen</name>
        <label>Add Contact Information Screen</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_Manager_Screen</targetReference>
        </connector>
        <fields>
            <name>Lead_Information_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Current Channel Lead Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Current_Lead.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Current_Lead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Telephone&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Current_Lead.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Mobile&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Current_Lead.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>{!Get_Current_Lead.Name} = PRIMARY PARTNER CONTACT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Get_Current_Lead_Name_BILLING_CONTACT</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>{!Get_Current_Lead.Name} = BILLING CONTACT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alternative_Primary_Contact_Tet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Alternative Primary Partner Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Contact_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Contact_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alternative_Primary_Contact_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Job_Title_Primary_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department_Primary_Contact</name>
                    <choiceReferences>Department_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Contact_Information_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alternative_Primary_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>primary@contact.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Alternative_Primary_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>0800 107 8888</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Alternative_Primary_Contact_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44 7724 396 555</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Lead_Name_PRIMARY_PARTNER_CONTACT</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing_Contact_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Billing Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Contact_Information_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Contact_Information_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Job_Title_Billing</name>
                    <dataType>String</dataType>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department_Billing</name>
                    <choiceReferences>Department_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Finance</stringValue>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Contact_Information_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>accounts@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>0800 107 8888</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44 7724 396 555</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Lead_Name_BILLING_CONTACT</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assign_Account_Manager_Screen</name>
        <label>Assign Account Manager Screen</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Contact_Decision</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body_Lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 53, 139); font-size: 18px;&quot;&gt;NEW CHANNEL PARTNER ALERT&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi BCS and Accounts,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139); font-size: 14px;&quot;&gt;Company Information:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Legal Company Name&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Salesforce Account ID&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.M12_Account_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Billing Address&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.BillingStreet}, {!Get_Created_Account.BillingCity}, {!Get_Created_Account.BillingState}, {!Get_Created_Account.BillingPostalCode}, {!Get_Created_Account.BillingCountry}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Primary Contact (Used for all communication):&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Get_Current_Lead.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!Get_Current_Lead.Title}, {!Get_Current_Lead.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Get_Current_Lead.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Get_Current_Lead.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Get_Current_Lead.MobilePhone}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Body_Lead_and_Primary_Contact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 53, 139); font-size: 18px;&quot;&gt;NEW CHANNEL PARTNER ALERT&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi BCS and Accounts,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Company Information:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Legal Company Name&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Salesforce Account ID&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.M12_Account_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Billing Address&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.BillingStreet}, {!Get_Created_Account.BillingCity}, {!Get_Created_Account.BillingState}, {!Get_Created_Account.BillingPostalCode}, {!Get_Created_Account.BillingCountry}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Primary Contact:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.FirstName} {!Alternative_Primary_Contact_Variable.LastName}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Role &amp;amp; Department&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Title}, {!Send_Email_3_Contacts}{!Alternative_Primary_Contact_Variable.Job_Role_Department__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.MobilePhone}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Additional Contact (original contact):&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Get_Current_Lead.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!Get_Current_Lead.Title}, {!Get_Current_Lead.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Get_Current_Lead.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Get_Current_Lead.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Get_Current_Lead.MobilePhone}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Body_Lead_Primary_and_Billing_Contact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 53, 139); font-size: 18px;&quot;&gt;NEW CHANNEL PARTNER ALERT&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi BCS and Accounts,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Company Information:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Legal Company Name&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Salesforce Account ID&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.M12_Account_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Billing Address&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.BillingStreet}, {!Get_Created_Account.BillingCity}, {!Get_Created_Account.BillingState}, {!Get_Created_Account.BillingPostalCode}, {!Get_Created_Account.BillingCountry}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Primary Contact:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Alternative_Primary_Contact_Variable.FirstName} {!Alternative_Primary_Contact_Variable.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Role &amp;amp; Department&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Title}, {!Send_Email_3_Contacts}{!Alternative_Primary_Contact_Variable.Job_Role_Department__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Alternative_Primary_Contact_Variable.MobilePhone}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Billing Contact:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Billing_Contact_Variable.FirstName} {!Billing_Contact_Variable.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Billing_Contact_Variable.Title}, {!Billing_Contact_Variable.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Billing_Contact_Variable.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Billing_Contact_Variable.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Billing_Contact_Variable.MobilePhone}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Additional Contact (original contact):&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Get_Current_Lead.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Get_Current_Lead.Title}, {!Get_Current_Lead.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Get_Current_Lead.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Get_Current_Lead.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Get_Current_Lead.MobilePhone}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Body_LeadandBillingContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 53, 139); font-size: 18px;&quot;&gt;NEW CHANNEL PARTNER ALERT&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi BCS and Accounts,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Company Information:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Legal Company Name&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Salesforce Account ID&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.M12_Account_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Billing Address&lt;/strong&gt;:&amp;nbsp;{!Get_Created_Account.BillingStreet}, {!Get_Created_Account.BillingCity}, {!Get_Created_Account.BillingState}, {!Get_Created_Account.BillingPostalCode}, {!Get_Created_Account.BillingCountry}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Primary Contact:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Get_Current_Lead.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!Get_Current_Lead.Title}, {!Get_Current_Lead.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Get_Current_Lead.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Get_Current_Lead.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Get_Current_Lead.MobilePhone}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 53, 139);&quot;&gt;Billing Contact:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!Billing_Contact_Variable.FirstName} {!Billing_Contact_Variable.LastName}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Role &amp;amp; Department&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!Billing_Contact_Variable.Title}, {!Billing_Contact_Variable.Job_Role_Department__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!Billing_Contact_Variable.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!Billing_Contact_Variable.Phone}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile&lt;/strong&gt;: {!Billing_Contact_Variable.MobilePhone}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <description>Variable to store the choices made from the screen flow and also default fields for the new contact</description>
        <name>Alternative_Primary_Contact_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Billing_Contact_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Collection_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LeadStatusVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewAccountIDVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
