force-app/main/default/flows/Create_ADP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ADP_Name_Assignement</name>
        <label>ADP Name Assignement</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ADP_Name_Variable.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ADP_Name_Variable.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-ADP-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ADP_Name_Variable.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ADP_Name_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ADP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RTM</name>
        <label>Assign RTM</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RTMVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RTMVariable.Account_Development_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_ADP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTM_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RTM_Collection</name>
        <label>RTM Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RTM_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RTMVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Record_Types</targetReference>
        </connector>
    </assignments>
    <description>Launch a screen flow from the account object</description>
    <dynamicChoiceSets>
        <name>TimePeriodChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Period__c</picklistField>
        <picklistObject>Account_Development_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ADP_Name_Date</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) + &quot;-&quot; + TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Create ADP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ADP</label>
    <loops>
        <name>Loop_Record_Types</name>
        <label>Loop Record Types</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_RTM_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RTM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RTM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ADP</name>
        <label>Create ADP</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_RTM_Record_Types</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethernet_Order_Target__c</field>
            <value>
                <elementReference>ADP_Ethernet_Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTTP_Order_Target__c</field>
            <value>
                <elementReference>ADP_Broadband_Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>Start_Date_of_ADP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ADP_Name_Variable.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period__c</field>
            <value>
                <elementReference>ADP_Time_Period</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Target__c</field>
            <value>
                <elementReference>ADP_Revenue_Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Development_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RTM_Records</name>
        <label>Create RTM Records</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <inputReference>RTM_Collection_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ADP_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RTM_Record_Types</name>
        <label>Get RTM Record Types</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Route_to_Market__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_ADP_Screen</name>
        <label>Create ADP Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ADP_Name_Assignement</targetReference>
        </connector>
        <fields>
            <name>ADP_Create_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Create an Account Development Plan for {!Get_Account_Record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_of_ADP</name>
            <dataType>Date</dataType>
            <fieldText>Start Date of ADP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADP_Time_Period</name>
            <choiceReferences>TimePeriodChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ADP Time Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_ADP_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_ADP_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ADP_Revenue_Target</name>
                    <dataType>Currency</dataType>
                    <fieldText>ADP Revenue Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_ADP_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ADP_Ethernet_Target</name>
                    <dataType>Number</dataType>
                    <fieldText>ADP Ethernet Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ADP_Broadband_Target</name>
                    <dataType>Number</dataType>
                    <fieldText>ADP Broadband Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ADP_Name_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Development_Plan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTM_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
    <variables>
        <name>RTMVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
</Flow>
