force-app/main/default/flows/Create_BANT_Score_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_BANT_Collection</name>
        <label>Add to BANT Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BANT_Questions_MetaData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>VarScore.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_BANT_Questions_MetaData.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Question_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_BANT_Questions_MetaData.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_BANT_Questions_MetaData.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_BANT_Collection</targetReference>
        </connector>
    </assignments>
    <description>Auto launched flow triggered when an opportunity is made. BANT records will be made to hold the questions and answers.</description>
    <interviewLabel>Create BANT Score Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create BANT Score Records</label>
    <loops>
        <name>Loop_BANT_Questions_MetaData</name>
        <label>Loop BANT Questions MetaData</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_BANT_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BANT_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BANT_Collection</name>
        <label>Create BANT Collection</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>VarCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BANT_Questions</name>
        <label>Get BANT Questions</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_BANT_Questions_MetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BANT_Question__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BANT_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01267000000V35iAAC</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BANT_Score__c</objectType>
    </variables>
    <variables>
        <name>VarScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BANT_Score__c</objectType>
    </variables>
</Flow>
