force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Contract_Renewal_Reminder</name>
        <label>Contract Renewal Reminder</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Opportunity_Detail.Account.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Tasktext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>ContractReminderDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Contract_Detail.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>{!Get_Opportunity_Detail.Name} Contract Renewal</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>After the loop, we can assign the total amounts from all of the products associated with the opportunity into a variable using the add operator.</description>
        <name>Giganet_Product_Assignment_Multiple</name>
        <label>Giganet Product Assignment Multiple</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>TotalInstallAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Giganet_Products.Install_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Monthly_Contract_Revenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Giganet_Products.Monthly_Contract_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Install_Gross_Profit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Giganet_Products.Install_Gross_Profit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMonthlyContractGP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Giganet_Products.Monthly_Contract_GP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Giganet_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We can assign the select product amounts associated with the opportunity into a variable using the equal operator.</description>
        <name>Giganet_Product_Assignment_Single</name>
        <label>Giganet Product Assignment Single</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalInstallAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Install_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Monthly_Contract_Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Monthly_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Install_Gross_Profit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Install_GP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMonthlyContractGP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Monthly_GP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_Record_from_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Products_Concurrent</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Products_Different_Times</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_if_product_start_dates_are_different</name>
        <label>Decide if product start dates are different</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Start_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Giganet_Product_Start_Dates_Concurrent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Detail.Number_of_Giganet_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Giganet_Products</targetReference>
            </connector>
            <label>Same Start Date</label>
        </rules>
        <rules>
            <name>Different_Start_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Giganet_Product_Start_Dates_Concurrent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Giganet_Product_Assignment_Single</targetReference>
            </connector>
            <label>Different Start Dates</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Auto_renewal_period_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auto_renewal_period__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Notice_peroid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_notice_peroid__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Picklist_Options</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Giganet_Product__c</object>
        <outputAssignments>
            <assignToReference>Giganet_Product_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Single_Install_Amount</assignToReference>
            <field>Install_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Single_Install_GP</assignToReference>
            <field>Install_Gross_Profit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Single_Monthly_GP</assignToReference>
            <field>Monthly_Contract_GP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Single_Monthly_Revenue</assignToReference>
            <field>Monthly_Contract_Revenue__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ContractReminderDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Contract_Detail.EndDate} - ( ( 365 / 12 ) * 3 )</expression>
    </formulas>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <loops>
        <name>Loop_Giganet_Products</name>
        <label>Loop Giganet Products</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>CurGiganetProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Giganet_Product_Assignment_Multiple</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Record_from_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Record_from_Loop</name>
        <label>Create Contract Record from Loop</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Get_Contract_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Detail.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_renewal_period__c</field>
            <value>
                <elementReference>Auto_renewal_period_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Get_Opportunity_Detail.Contract_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Giganet Ethernet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value_One_Off__c</field>
            <value>
                <elementReference>TotalInstallAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value_Regular__c</field>
            <value>
                <elementReference>Total_Monthly_Contract_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_notice_peroid__c</field>
            <value>
                <elementReference>Notice_peroid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giganet_Product__c</field>
            <value>
                <elementReference>Giganet_Product_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Gross_Profit__c</field>
            <value>
                <elementReference>Total_Install_Gross_Profit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Contract_GP__c</field>
            <value>
                <elementReference>TotalMonthlyContractGP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Detail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <stringValue>120</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Detail.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Contact_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_ID__c</field>
            <value>
                <elementReference>Get_Opportunity_Detail.Quote_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120X000000koNvQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pre-Activation</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Detail</name>
        <label>Get Contract Detail</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract_Record_from_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Giganet_Products</name>
        <label>Get Giganet Products</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Giganet_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Giganet_Product__c</object>
        <outputReference>CurGiganetProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Install_Amount__c</queriedFields>
        <queriedFields>Install_Gross_Profit__c</queriedFields>
        <queriedFields>Monthly_Contract_GP__c</queriedFields>
        <queriedFields>Monthly_Contract_Revenue__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Opportunity fields are needed to be passed to the contract object</description>
        <name>Get_Opportunity_Detail</name>
        <label>Get Opportunity Detail</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Contract_Term__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Quote_ID__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Monthly_Contract_Revenue__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Giganet_Products__c</queriedFields>
        <queriedFields>Monthly_Contract_GP__c</queriedFields>
        <queriedFields>InstallGross_Profit__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Requirements__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Contract</name>
        <label>Activate Contract</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Contract_Renewal_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract_Record_from_Loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_if_product_start_dates_are_different</targetReference>
        </connector>
        <fields>
            <name>Contact_lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notice_period_days</name>
            <choiceReferences>Notice_peroid</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>90</stringValue>
            </defaultValue>
            <fieldText>Notice Period (days)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Auto_Renewal_Period</name>
            <choiceReferences>Auto_renewal_period_picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>12</stringValue>
            </defaultValue>
            <fieldText>Auto Renewal Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Giganet_Product_Start_Dates_Concurrent</name>
            <choiceReferences>Products_Concurrent</choiceReferences>
            <choiceReferences>Products_Different_Times</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Giganet Product Start Dates Concurrent ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Detail.Number_of_Giganet_Products__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductPicklist</name>
            <choiceReferences>Product_Picklist_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Giganet_Product_Start_Dates_Concurrent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Screen</name>
        <label>Upload Screen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
        <fields>
            <name>Upload_Contracts</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Contracts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Contract_Record_from_Loop</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Tasktext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please contact the account to renew their contract which expires in 3 months. Please see the activity of the opportunity to see their current contract or view the customer folder.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CurGiganetProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Giganet_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Install Amount for the single Giganet product</description>
        <name>Single_Install_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Install Profit for the single Giganet product</description>
        <name>Single_Install_GP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Monthly GP for the single Giganet product</description>
        <name>Single_Monthly_GP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Monthly Revenue for the single Giganet product</description>
        <name>Single_Monthly_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total Install Gross Profit for all GN products in the opportunity.</description>
        <name>Total_Install_Gross_Profit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total Monthly Contract Revenue for all GN products in the opportunity.</description>
        <name>Total_Monthly_Contract_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Install Amount for all GN Products in the Opportunity</description>
        <name>TotalInstallAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total Monthly Contract GP for all GN products in the opportunity.</description>
        <name>TotalMonthlyContractGP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
