force-app/main/default/flows/Giganet_Internet_Product_Add_Ons.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>The assignment will assign the input user AP values into single giganet product variables</description>
        <name>Assign_Access_Point_Values</name>
        <label>Assign_Access_Point_Values</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Access_Points.Model_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Point</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Access_Points.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2pGAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Install_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_Amount_Access_Points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Install_Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_GP_Access_Point_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Access_Point_Variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Access_Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Access_Point_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The assignment will assign the input user firewall values into single giganet product variables</description>
        <name>Assign_Firewall_Values</name>
        <label>Assign_Firewall_Values</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Firewall_variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Firewalls.Model_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Firewall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Firewalls.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2pGAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Install_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sell_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Install_Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_GP_Firewall_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Firewall_variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Firewalls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Firewall_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will assign the specified values to a variable</description>
        <name>Assign_IP_Address_Values</name>
        <label>Assign IP Address Values</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IPAddressVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Additional_IP_Range.IP_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPAddressVariable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Unit_Price_Addional_IP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPAddressVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2pGAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPAddressVariable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPAddressVariable.Monthly_Contract_GP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_GP_Addional_IP_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Additional_IP_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the variable to a collection variable.</description>
        <name>Collect_Access_Point_Assignment</name>
        <label>Collect Access Point Assignment</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Access_Point_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Access_Point_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Access_Points</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will collect the variable assigned into a collection variable</description>
        <name>Collect_Additional_IP_Assignments</name>
        <label>Collect Additional IP Assignments</label>
        <locationX>1722</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>IP_Address_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IPAddressVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Additional_IP_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All of the assigned values will be collected in this assignment and stored in a collection variable</description>
        <name>Collect_Firewall_Assignments</name>
        <label>Collect Firewall Assignments</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Firewall_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Firewall_variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Firewalls</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccessPointChoice</name>
        <choiceText>Access Point</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access Point</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_More_Products</name>
        <choiceText>Add More Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add More Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>AdditionalIPAddress</name>
        <choiceText>Additional IP Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional IP Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Choice</name>
        <choiceText>Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>FirewallChoice</name>
        <choiceText>Firewall</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firewall</stringValue>
        </value>
    </choices>
    <choices>
        <name>Professional_Services_Choice</name>
        <choiceText>Professional Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Services</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_BoltOns</name>
        <label>Finish or Add More Products Decision BoltOns</label>
        <locationX>1634</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_IPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_IPs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision IPs</label>
        </rules>
        <rules>
            <name>Add_More_Decision_IPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_IPs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision IPs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_Hansets</name>
        <label>Finish or Add More Products Decision Hansets</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_Access_Point</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Handsets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision Access Point</label>
        </rules>
        <rules>
            <name>Add_More_Decision_Handsets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Handsets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision Handsets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_Profiles</name>
        <label>Finish or Add More Products Decision_Profiles</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_Profiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Profiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision Profiles</label>
        </rules>
        <rules>
            <name>Add_More_Decision_Profiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Profiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision Profiles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Decision</name>
        <label>Product Decision</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Firewall_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FirewallChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Firewall_MetaData</targetReference>
            </connector>
            <label>Firewall Decision</label>
        </rules>
        <rules>
            <name>Access_Point_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccessPointChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Access_Point_MetaData</targetReference>
            </connector>
            <label>Access Point Decision</label>
        </rules>
        <rules>
            <name>Additional_IP_Address_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional IP Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IP_Address_Metadata</targetReference>
            </connector>
            <label>Additional IP Address Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCI_Recording_Data_Storage</name>
        <dataType>String</dataType>
        <displayField>Storage_Amount__c</displayField>
        <object>Call_Recording_Storage__mdt</object>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Monthly_Unit_GP__c</assignToReference>
            <field>Monthly_Unit_GP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Monthly_Unit_Revenue__c</assignToReference>
            <field>Monthly_Unit_Revenue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Storage_Amount__c</assignToReference>
            <field>Storage_Amount__c</field>
        </outputAssignments>
        <sortField>Storage_Amount__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The choice to specify the number of wallboard users</description>
        <name>Wallboard_Choice</name>
        <dataType>String</dataType>
        <displayField>Number_of_Extensions__c</displayField>
        <object>Wallboard_Extension__mdt</object>
        <outputAssignments>
            <assignToReference>Wallboard_Variable.Monthly_Unit_GP__c</assignToReference>
            <field>Monthly_Unit_GP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Wallboard_Variable.Monthly_Unit_Revenue__c</assignToReference>
            <field>Monthly_Unit_Revenue__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>Install_Amount_Access_Point</name>
        <dataType>Currency</dataType>
        <expression>{!Sell_Price}*{!Number_of_Firewalls}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Install_Amount_Access_Points</name>
        <dataType>Currency</dataType>
        <expression>{!Sell_Price_AP}*{!Number_of_Access_Points}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Install_GP_Access_Point_Formula</name>
        <dataType>Currency</dataType>
        <expression>({!Sell_Price_AP}-{!Buy_Price_Ap})*{!Number_of_Access_Points}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The formula for the firewalls</description>
        <name>Install_GP_Firewall_Formula</name>
        <dataType>Currency</dataType>
        <expression>({!Sell_Price}-{!Buy_Price})*{!Number_of_Firewalls}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Monthly_GP_Addional_IP_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Selected_Additional_IP_Range.Unit_Price__c}-{!Monthly_Unit_Price_Addional_IP}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Giganet Internet Product Add-Ons {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Giganet Internet Product Add-Ons</label>
    <loops>
        <description>This will loop through the selected handset/ancillary item selection</description>
        <name>Loop_Access_Points</name>
        <label>Loop Access Points</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Access_Points.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Access_Point_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_AccessPoint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through all of the selected IP Ranges from the table</description>
        <name>Loop_Selected_Additional_IP_Range</name>
        <label>Loop Selected Additional IP Range</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Addional_IPs.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Bolt_Ons</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_IP_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through all of the selected firewalls in the data table</description>
        <name>Loop_Selected_Firewalls</name>
        <label>Loop Selected Firewalls</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Firewall.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Firewall_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_Profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Access_Point_Item</name>
        <label>Create Access Point Item</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_Hansets</targetReference>
        </connector>
        <inputReference>Access_Point_Collection_Variable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Additional_IPs</name>
        <label>Create Additional IPs</label>
        <locationX>1634</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_BoltOns</targetReference>
        </connector>
        <inputReference>IP_Address_Collection_Variable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Firewall</name>
        <label>Create Firewall</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_Profiles</targetReference>
        </connector>
        <inputReference>Firewall_Collection_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Access_Point_MetaData</name>
        <label>Get Access Point MetaData</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Access_Point_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Access_Point__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Model_Name__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Sell_Price__c</queriedFields>
        <queriedFields>Buy_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to go get all of the firewall products</description>
        <name>Get_Firewall_MetaData</name>
        <label>Get Firewall MetaData</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Firewall_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Firewall__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Model_Name__c</queriedFields>
        <queriedFields>Sell_Price__c</queriedFields>
        <queriedFields>Buy_Price__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IP_Address_Metadata</name>
        <label>Get IP Address Metadata</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_IP_Address_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IP_Address__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit_Price__c</queriedFields>
        <queriedFields>IP_Range__c</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Product_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Configure_Access_Point_Screen</name>
        <label>Configure Access Point Screen</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Access_Point_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Firewall_Name_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Access_Points.Model_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Access_Points</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Access Points</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Buy_Price_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please check our buy price as it changes frequently. If order more than 5 APs there is a multipack deal&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Configure_Access_Point_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Access_Point_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buy_Price_Ap</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Access_Points.Buy_Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Buy Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Access_Point_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sell_Price_AP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Access_Points.Sell_Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Sell Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Bolt_Ons</name>
        <label>Configure Bolt_Ons</label>
        <locationX>1722</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_IP_Address_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Bolt_Ons</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_Additional_IP_Range.IP_Range__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Monthly_Unit_Price_Addional_IP</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Loop_Selected_Additional_IP_Range.Unit_Price__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Firewall_Screen</name>
        <label>Configure Firewall Screen</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Firewall_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Firewall_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_Firewalls.Model_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Firewalls</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Firewalls</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Buy_Price_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please check our buy price as it changes frequently. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Configure_Firewall_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Firewall_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buy_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Firewalls.Buy_Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Buy Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Firewall_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sell_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Selected_Firewalls.Sell_Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Sell Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_AccessPoint</name>
        <label>Finish or Add More Screen</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Access_Point_Item</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_Handsets</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_IP_Address</name>
        <label>Finish or Add More Screen IP Address</label>
        <locationX>1634</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Additional_IPs</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_IPs</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_Profile</name>
        <label>Finish or Add More Screen_Profile</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Firewall</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_Profiles</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Access_Point_Screen</name>
        <label>Select Access Point Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Access_Points</targetReference>
        </connector>
        <fields>
            <name>Select_Access_Points</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Access_Point__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Access_Point__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Model_Name__c,Buy_Price__c,Sell_Price__c,Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Model_Name__c:standard:call_coaching, Install_Amount__c:utility:money, Install_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Model_Name__c:223, Buy_Price__c:245, Sell_Price__c:245, Supplier__c:245</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Model_Name__c:false, Install_Amount__c:false, Install_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Install_Amount__c:center, Install_GP__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Access_Point_MetaData</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Firewall_Screen</name>
        <label>Select Firewall Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Firewalls</targetReference>
        </connector>
        <fields>
            <name>Select_Firewall</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Firewall__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Firewall__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Model_Name__c,Buy_Price__c,Sell_Price__c,Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Model_Name__c:239, Buy_Price__c:239, Sell_Price__c:239, Supplier__c:239</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Unit_Price__c:center, Unit_GP__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Profile_Name__c:false, Unit_Price__c:false, Unit_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Profile_Name__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Profile_Name__c:utility:phone_portrait, Unit_Price__c:utility:money, Unit_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Firewall_MetaData</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_IP_Address_Screen</name>
        <label>Select IP Address Screen</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Additional_IP_Range</targetReference>
        </connector>
        <fields>
            <name>Select_Addional_IPs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>IP_Address__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>IP_Address__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>IP_Range__c,Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Bolt_On_Name__c:standard:checkout, Install_Amount__c:utility:money, Install_GP__c:utility:money, Monthly_Unit_Revenue__c:utility:money, Monthly_Unit_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>IP_Range__c:479, Unit_Price__c:479</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Bolt_On_Name__c:true, Install_Amount__c:false, Install_GP__c:true, Monthly_Unit_Revenue__c:false, Monthly_Unit_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Install_Amount__c:center, Install_GP__c:center, Monthly_Unit_Revenue__c:center, Monthly_Unit_GP__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_IP_Address_Metadata</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Screen</name>
        <label>Select Product Screen</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Product_to_Add</name>
            <choiceReferences>FirewallChoice</choiceReferences>
            <choiceReferences>AccessPointChoice</choiceReferences>
            <choiceReferences>AdditionalIPAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product to Add</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Access_Point_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Access_Point_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Collection Variable to collect all of the variables</description>
        <name>Firewall_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Firewall_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to collect all the assigned bolt on variables</description>
        <name>IP_Address_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>IPAddressVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to store the GP and revenue of the selected amount of storage</description>
        <name>PCI_Data_Storage_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Call_Recording_Storage__mdt</objectType>
    </variables>
    <variables>
        <name>Professional_Service_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Professional_Services_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Services__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store all of the metadata of giganet connect profiles</description>
        <name>User_Profile_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Connect_User_Profile__mdt</objectType>
    </variables>
    <variables>
        <name>Wallboard_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wallboard_Extension__mdt</objectType>
    </variables>
</Flow>
