force-app/main/default/flows/Giganet_Connect_User_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>This will assign the specified values to a variable</description>
        <name>Assign_Bolt_On_Values</name>
        <label>Assign Bolt-On Values</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Giganet Connect {!Loop_Selected_Bolt_Ons.Bolt_On_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2dyAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Install_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Bolt_Ons.Install_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Install_Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Bolt_Ons.Install_GP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Revenue_Bolt_On_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PCI_Data_Storage_Variable.Monthly_Unit_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_GP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_GP_Bolt_On_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_GP__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PCI_Data_Storage_Variable.Monthly_Unit_GP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_GP__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Monthly_GP_Wallboard_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Monthly_Revenue_Wallboard_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bolt-On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term_Bolt_On</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bolt_Ons_Variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Bolt_On</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Bolt_On_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The assignment will assign the input user Handset/Ancillary values into single giganet product variables</description>
        <name>Assign_Handset_Ancillary_Values</name>
        <label>Assign_Handset_Ancillary_Values</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Handsets_Ancillary_Items.Model_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Handset_Ancillary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Install_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_Amount_Handset_Ancilliary_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Install_Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_GP_Handset_Ancilliary_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2dyAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Handset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Revenue_Handset_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Items_Variable.Monthly_Contract_GP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_GP_Handset_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Handset_Ancillary_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will assign the specified values to a variable</description>
        <name>Assign_Professional_Service_Values</name>
        <label>Assign Professional Service Values</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Professional_Services.Service_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2dyAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Install_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_Amount_Professional_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Install_Gross_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_GP_Professional_Services_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Professional_Services.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Professional_Service_Variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Professional_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Professional_Service_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The assignment will assign the input user profile values into single giganet product variables</description>
        <name>Assign_User_Profile_Values</name>
        <label>Assign_User_Profile_Values</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Giganet Connect {!Loop_Selected_User_Profiles.Profile_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Users</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Monthly_Contract_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Revenue_User_Profile_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Monthly_Contract_GP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_GP_User_Profile_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telcoswitch</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01267000000V2YPAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Profile_Variable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hosted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Profile_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will collect the variable assigned into a collection variable</description>
        <name>Collect_Bolt_On_Assignments</name>
        <label>Collect Bolt On Assignments</label>
        <locationX>1722</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Bolt_On_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bolt_Ons_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Bolt_Ons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the variable to a collection variable.</description>
        <name>Collect_Handset_Ancillary_Assignment</name>
        <label>Collect Handset/Ancillary Assignment</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Handset_Ancillary_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Handset_Ancillary_Items_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Handsets_Ancillary_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will collect the variable assigned into a collection variable</description>
        <name>Collect_Professional_Service_Assignments</name>
        <label>Collect Professional Service Assignments</label>
        <locationX>2514</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Professional_Service_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Professional_Service_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Professional_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All of the assigned values will be collected in this assignment and stored in a collection variable</description>
        <name>Collect_User_Profile_Assignments</name>
        <label>Collect User Profile Assignments</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>User_Profile_Collection_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Profile_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_User_Profiles</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_More_Products</name>
        <choiceText>Add More Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add More Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bolt_On</name>
        <choiceText>Bolt-On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bolt-On</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Choice</name>
        <choiceText>Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>GiganetConnect</name>
        <choiceText>Giganet Connect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Giganet Connect</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice to choose handsets/ other</description>
        <name>Handset_Ancilliary_Item</name>
        <choiceText>Handset/Ancilliary Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Handset/Ancilliary Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>HandsetPurchaseMonthly</name>
        <choiceText>Handset Purchase Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Handset Purchase Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>HandsetPurchaseOneOff</name>
        <choiceText>Purchase One Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PurchaseOneOff</stringValue>
        </value>
    </choices>
    <choices>
        <name>Professional_Services_Choice</name>
        <choiceText>Professional Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Services</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_BoltOns</name>
        <label>Finish or Add More Products Decision BoltOns</label>
        <locationX>1634</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_BoltOns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_BoltOns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision BoltOns</label>
        </rules>
        <rules>
            <name>Add_More_Decision_BoltOns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_BoltOns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision BoltOns</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_Hansets</name>
        <label>Finish or Add More Products Decision Hansets</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_Handsets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Handsets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision Handsets</label>
        </rules>
        <rules>
            <name>Add_More_Decision_Handsets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Handsets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision Handsets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_Professional</name>
        <label>Finish or Add More Products Decision Professional</label>
        <locationX>2426</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Professional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision Professional</label>
        </rules>
        <rules>
            <name>Add_More_Decision_Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Professional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision Professional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_or_Add_More_Products_Decision_Profiles</name>
        <label>Finish or Add More Products Decision_Profiles</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Decision_Profiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Profiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Choice</elementReference>
                </rightValue>
            </conditions>
            <label>Finish Decision Profiles</label>
        </rules>
        <rules>
            <name>Add_More_Decision_Profiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_or_Add_More_Products_Profiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_More_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Product_Screen</targetReference>
            </connector>
            <label>Add More Decision Profiles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Decision</name>
        <label>Product Decision</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Giganet_Connect_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GiganetConnect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Giganet_Connect_MetaData</targetReference>
            </connector>
            <label>Giganet Connect Decision</label>
        </rules>
        <rules>
            <name>Handset_Ancilliary_Item_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Handset_Ancilliary_Item</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Handset_Ancillary_Items</targetReference>
            </connector>
            <label>Handset/Ancilliary Item Decision</label>
        </rules>
        <rules>
            <name>Bolt_On_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bolt_On</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bolt_On_Metadata</targetReference>
            </connector>
            <label>Bolt On Decision</label>
        </rules>
        <rules>
            <name>Professional_Services_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Professional_Services_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Professional_Services_Metadata</targetReference>
            </connector>
            <label>Professional Services Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCI_Recording_Data_Storage</name>
        <dataType>String</dataType>
        <displayField>Storage_Amount__c</displayField>
        <object>Call_Recording_Storage__mdt</object>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Monthly_Unit_GP__c</assignToReference>
            <field>Monthly_Unit_GP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Monthly_Unit_Revenue__c</assignToReference>
            <field>Monthly_Unit_Revenue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PCI_Data_Storage_Variable.Storage_Amount__c</assignToReference>
            <field>Storage_Amount__c</field>
        </outputAssignments>
        <sortField>Storage_Amount__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The choice to specify the number of wallboard users</description>
        <name>Wallboard_Choice</name>
        <dataType>String</dataType>
        <displayField>Number_of_Extensions__c</displayField>
        <object>Wallboard_Extension__mdt</object>
        <outputAssignments>
            <assignToReference>Wallboard_Variable.Monthly_Unit_GP__c</assignToReference>
            <field>Monthly_Unit_GP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Wallboard_Variable.Monthly_Unit_Revenue__c</assignToReference>
            <field>Monthly_Unit_Revenue__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <description>Formula to calculate the install amount of the handsets/ancillary items</description>
        <name>Install_Amount_Handset_Ancilliary_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Handset_Ancillary}*{!Unit_Price_Handset_Ancillary}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Install_Amount_Professional_Services</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Professional_Services}*{!Install_Unit_Price_Professional_Services}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to calculate the GP of the selected handset/ancillary item</description>
        <name>Install_GP_Handset_Ancilliary_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Handset_Ancillary}*({!Loop_Handsets_Ancillary_Items.Install_GP__c}-({!Loop_Handsets_Ancillary_Items.Install_Amount__c}-{!Unit_Price_Handset_Ancillary}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Install_GP_Professional_Services_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Professional_Services}*({!Loop_Selected_Professional_Services.Install_GP__c}-({!Loop_Selected_Professional_Services.Install_Amount__c}-{!Install_Unit_Price_Professional_Services}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Monthly_GP_Bolt_On_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Bolt_On}*({!Loop_Selected_Bolt_Ons.Monthly_Unit_GP__c}-({!Loop_Selected_Bolt_Ons.Monthly_Unit_Revenue__c}-{!Monthly_Unit_Price_Bolt_On}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to calculate the monthly GP of a Handset</description>
        <name>Monthly_GP_Handset_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Handset_Ancillary}*(({!Loop_Handsets_Ancillary_Items.Install_GP__c})/{!Term_Handset}*((1+{!Percentage_Monthly_Handset_Uplift.value}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The formula to calculate the GP of the selected user profiles</description>
        <name>Monthly_GP_User_Profile_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Number_of_Users}*({!Loop_Selected_User_Profiles.Unit_GP__c}-({!Loop_Selected_User_Profiles.Unit_Price__c}-{!Unit_Price}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Monthly_GP_Wallboard_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Bolt_On}*{!Wallboard_Variable.Monthly_Unit_GP__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Monthly_Revenue_Bolt_On_Formula</name>
        <dataType>Currency</dataType>
        <expression>({!Quantity_Bolt_On}*{!Monthly_Unit_Price_Bolt_On})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to calculate the monthly unit cost of a handset</description>
        <name>Monthly_Revenue_Handset_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Handset_Ancillary}*(({!Loop_Handsets_Ancillary_Items.Install_Amount__c})/{!Term_Handset}*((1+{!Percentage_Monthly_Handset_Uplift.value}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The formula which calculates the monthly revenue of the selected user profile</description>
        <name>Monthly_Revenue_User_Profile_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Number_of_Users}*{!Unit_Price}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Monthly_Revenue_Wallboard_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity_Bolt_On}*{!Wallboard_Variable.Monthly_Unit_Revenue__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Giganet Connect User Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giganet Connect User Profile</label>
    <loops>
        <description>This will loop through the selected handset/ancillary item selection</description>
        <name>Loop_Handsets_Ancillary_Items</name>
        <label>Loop Handsets/Ancillary Items</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Handset_Ancillary_Items.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Handset_Ancillary_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_Handset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through all of the selected bolt ons from the table</description>
        <name>Loop_Selected_Bolt_Ons</name>
        <label>Loop Selected Bolt-Ons</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Bolt_Ons.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Bolt_Ons</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_Bolt_On</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through all of the selected professional services in the data table</description>
        <name>Loop_Selected_Professional_Services</name>
        <label>Loop Selected Professional Services</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_Professional_Service.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Bolt_Ons_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_Professional</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through all of the selected profiles in the data table</description>
        <name>Loop_Selected_User_Profiles</name>
        <label>Loop Selected User Profiles</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Select_User_Profile.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Configure_Profile_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_or_Add_More_Screen_Profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bolt_Ons</name>
        <label>Create Bolt Ons</label>
        <locationX>1634</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_BoltOns</targetReference>
        </connector>
        <inputReference>Bolt_On_Collection_Variable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_GN_Connect_User_Profile</name>
        <label>Create GN Connect User Profile</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_Profiles</targetReference>
        </connector>
        <inputReference>User_Profile_Collection_Variable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Handset_ancillary_Item</name>
        <label>Create Handset/ancillary Item</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_Hansets</targetReference>
        </connector>
        <inputReference>Handset_Ancillary_Collection_Variable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Professional_Service</name>
        <label>Create Professional Service</label>
        <locationX>2426</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Finish_or_Add_More_Products_Decision_Professional</targetReference>
        </connector>
        <inputReference>Professional_Service_Collection_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Bolt_On_Metadata</name>
        <label>Get Bolt-On Metadata</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Bolt_Ons_Screen</targetReference>
        </connector>
        <object>Giganet_Connect_Bolt_On__mdt</object>
        <outputReference>Bolt_On_Metadata_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bolt_On_Name__c</queriedFields>
        <queriedFields>Install_Amount__c</queriedFields>
        <queriedFields>Install_GP__c</queriedFields>
        <queriedFields>Monthly_Unit_Revenue__c</queriedFields>
        <queriedFields>Monthly_Unit_GP__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>This is go get all of the user profiles of giganet connect</description>
        <name>Get_Giganet_Connect_MetaData</name>
        <label>Get Giganet Connect MetaData</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_User_Profile_Screen</targetReference>
        </connector>
        <object>Giganet_Connect_User_Profile__mdt</object>
        <outputReference>User_Profile_Metadata_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Unit_Price__c</queriedFields>
        <queriedFields>Unit_GP__c</queriedFields>
        <queriedFields>Profile_Name__c</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Handset_Ancillary_Items</name>
        <label>Get Handset/Ancillary Items</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handset_Ancillary_Items_Selection_Screen</targetReference>
        </connector>
        <object>Handset_Ancillary_Item__mdt</object>
        <outputReference>Handset_Ancillary_Items_Metadata_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Model_Name__c</queriedFields>
        <queriedFields>Install_Amount__c</queriedFields>
        <queriedFields>Install_GP__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Product_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Professional_Services_Metadata</name>
        <label>Get Professional Services Metadata</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Professional_Service_Screen</targetReference>
        </connector>
        <object>Professional_Services__mdt</object>
        <outputReference>Professional_Services_Metadata_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Install_Amount__c</queriedFields>
        <queriedFields>Install_GP__c</queriedFields>
        <queriedFields>Service_Name__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Configure_Bolt_Ons</name>
        <label>Configure Bolt_Ons</label>
        <locationX>1722</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Bolt_On_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Bolt_Ons</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_Bolt_Ons.Bolt_On_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Term_Bolt_On</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>36.0</numberValue>
            </defaultValue>
            <fieldText>Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Install_Unit_Price_Bolt_On</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Loop_Selected_Bolt_Ons.Install_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Install Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Selected_Bolt_Ons.Label</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BO3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Unit_Price_Bolt_On</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Loop_Selected_Bolt_Ons.Monthly_Unit_Revenue__c</elementReference>
            </defaultValue>
            <fieldText>Monthly Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Selected_Bolt_Ons.Label</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>BO3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>of_Extension_Banding</name>
            <choiceReferences>Wallboard_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText># of Extension Banding</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Selected_Bolt_Ons.Label</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BO3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity_Bolt_On</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Data_Storage</name>
            <choiceReferences>PCI_Recording_Data_Storage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Storage (hours)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Selected_Bolt_Ons.Label</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BO2</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Bolt_Ons_0</name>
        <label>Configure Bolt_Ons</label>
        <locationX>2514</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Professional_Service_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Bolt_Ons_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_Professional_Services.Service_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_Professional_Services</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Install_Unit_Price_Professional_Services</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Loop_Selected_Professional_Services.Install_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Install Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Handset_Ancillary_Item</name>
        <label>Configure Handset/Ancillary Item</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Handset_Ancillary_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Handset_Ancillary_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Handsets_Ancillary_Items.Model_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Handset_Purchase_Type</name>
            <choiceReferences>HandsetPurchaseOneOff</choiceReferences>
            <choiceReferences>HandsetPurchaseMonthly</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>HandsetPurchaseOneOff</defaultSelectedChoiceReference>
            <fieldText>Handset Purchase Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity_Handset_Ancillary</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Configure_Handset_Ancillary_Item_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Handset_Ancillary_Item_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Price_Handset_Ancillary</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Handsets_Ancillary_Items.Install_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Handset_Purchase_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HandsetPurchaseOneOff</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Configure_Handset_Ancillary_Item_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Handset_Ancillary_Item_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Percentage_Monthly_Handset_Uplift</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Percentage Uplift</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>min</name>
                        <value>
                            <numberValue>15.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <numberValue>25.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Term_Handset</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>36.0</numberValue>
                    </defaultValue>
                    <fieldText>Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Handset_Purchase_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HandsetPurchaseMonthly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Profile_Screen</name>
        <label>Configure Profile Screen</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_User_Profile_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Profile_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!Loop_Selected_User_Profiles.Profile_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>36.0</numberValue>
            </defaultValue>
            <fieldText>Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Users</name>
            <dataType>Number</dataType>
            <fieldText>Number of Users</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Unit_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Loop_Selected_User_Profiles.Unit_Price__c</elementReference>
            </defaultValue>
            <fieldText>Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_Bolt_On</name>
        <label>Finish or Add More Screen Bolt On</label>
        <locationX>1634</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Bolt_Ons</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_BoltOns</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_Handset</name>
        <label>Finish or Add More Screen_Handset</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Handset_ancillary_Item</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_Handsets</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_Professional</name>
        <label>Finish or Add More Screen Professional</label>
        <locationX>2426</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Professional_Service</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_Professional</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_or_Add_More_Screen_Profile</name>
        <label>Finish or Add More Screen_Profile</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_GN_Connect_User_Profile</targetReference>
        </connector>
        <fields>
            <name>Finish_or_Add_More_Products_Profiles</name>
            <choiceReferences>Add_More_Products</choiceReferences>
            <choiceReferences>Finish_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Finish_Choice</defaultSelectedChoiceReference>
            <fieldText>Finish or Add More Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Handset_Ancillary_Items_Selection_Screen</name>
        <label>Select Handset/Ancillary Items Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Handsets_Ancillary_Items</targetReference>
        </connector>
        <fields>
            <name>Select_Handset_Ancillary_Items</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Handset_Ancillary_Item__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Handset_Ancillary_Item__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Handset_Ancillary_Items_Metadata_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Model_Name__c,Install_Amount__c,Install_GP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Model_Name__c:standard:call_coaching, Install_Amount__c:utility:money, Install_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Model_Name__c:223, Install_Amount__c:247, Install_GP__c:244</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Model_Name__c:false, Install_Amount__c:false, Install_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Install_Amount__c:center, Install_GP__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Bolt_Ons_Screen</name>
        <label>Select Bolt-Ons Screen</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Bolt_Ons</targetReference>
        </connector>
        <fields>
            <name>Select_Bolt_Ons</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Giganet_Connect_Bolt_On__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Giganet_Connect_Bolt_On__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Bolt_On_Name__c,Install_Amount__c,Install_GP__c,Monthly_Unit_Revenue__c,Monthly_Unit_GP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Bolt_On_Name__c:standard:checkout, Install_Amount__c:utility:money, Install_GP__c:utility:money, Monthly_Unit_Revenue__c:utility:money, Monthly_Unit_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Bolt_On_Name__c:149, Install_Amount__c:155, Install_GP__c:123, Monthly_Unit_Revenue__c:202, Monthly_Unit_GP__c:169</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Bolt_On_Name__c:true, Install_Amount__c:false, Install_GP__c:true, Monthly_Unit_Revenue__c:false, Monthly_Unit_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Bolt_On_Metadata_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Install_Amount__c:center, Install_GP__c:center, Monthly_Unit_Revenue__c:center, Monthly_Unit_GP__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Screen</name>
        <label>Select Product Screen</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Product_to_Add</name>
            <choiceReferences>GiganetConnect</choiceReferences>
            <choiceReferences>Handset_Ancilliary_Item</choiceReferences>
            <choiceReferences>Bolt_On</choiceReferences>
            <choiceReferences>Professional_Services_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product to Add</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Professional_Service_Screen</name>
        <label>Select Professional Service Screen</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Professional_Services</targetReference>
        </connector>
        <fields>
            <name>Select_Professional_Service</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Professional_Services__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Professional_Services__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Service_Name__c,Install_Amount__c,Install_GP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Bolt_On_Name__c:standard:checkout, Install_Amount__c:utility:money, Install_GP__c:utility:money, Monthly_Unit_Revenue__c:utility:money, Monthly_Unit_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Service_Name__c:286, Install_Amount__c:245, Install_GP__c:202</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Service_Name__c:false, Install_Amount__c:false, Install_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Install_Amount__c:center, Install_GP__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Professional_Services_Metadata_Collection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_User_Profile_Screen</name>
        <label>Select User Profile Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_User_Profiles</targetReference>
        </connector>
        <fields>
            <name>Select_User_Profile</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Giganet_Connect_User_Profile__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Giganet_Connect_User_Profile__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>User_Profile_Metadata_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Profile_Name__c,Unit_Price__c,Unit_GP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Profile_Name__c:320, Unit_Price__c:210, Unit_GP__c:198</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Unit_Price__c:center, Unit_GP__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Profile_Name__c:false, Unit_Price__c:false, Unit_GP__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Profile_Name__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Profile_Name__c:utility:phone_portrait, Unit_Price__c:utility:money, Unit_GP__c:utility:money</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to collect all the assigned bolt on variables</description>
        <name>Bolt_On_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Collection Variable to store all Bolt-On values</description>
        <name>Bolt_On_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Connect_Bolt_On__mdt</objectType>
    </variables>
    <variables>
        <description>Variable to collect inputted values from the bolt on screen</description>
        <name>Bolt_Ons_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to collect all variables</description>
        <name>Handset_Ancillary_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to store all of the metadata of Handsets and Ancilliary Items</description>
        <name>Handset_Ancillary_Items_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Handset_Ancillary_Item__mdt</objectType>
    </variables>
    <variables>
        <description>Variable to capture user-inputted data for the handsets</description>
        <name>Handset_Ancillary_Items_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to store the GP and revenue of the selected amount of storage</description>
        <name>PCI_Data_Storage_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Call_Recording_Storage__mdt</objectType>
    </variables>
    <variables>
        <name>Professional_Service_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Professional_Service_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Professional_Services_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Professional_Services__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection Variable to collect all of the variables</description>
        <name>User_Profile_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <description>Variable to store all of the metadata of giganet connect profiles</description>
        <name>User_Profile_Metadata_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Connect_User_Profile__mdt</objectType>
    </variables>
    <variables>
        <description>Variable to collect inputted values from the profile screen</description>
        <name>User_Profile_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>Wallboard_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wallboard_Extension__mdt</objectType>
    </variables>
</Flow>
