force-app/main/default/flows/Giganet_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Giganet_Product_Assignment</name>
        <label>Giganet Product Assignment</label>
        <locationX>198</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>TotalMonthlyGP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGiganetProducts.Monthly_Contract_GP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalInstallAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGiganetProducts.Install_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMonthlyRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGiganetProducts.Monthly_Contract_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalInstallGP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGiganetProducts.Install_Gross_Profit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGiganetProducts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Giganet Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giganet Products</label>
    <loops>
        <name>LoopGiganetProducts</name>
        <label>LoopGiganetProducts</label>
        <locationX>198</locationX>
        <locationY>469</locationY>
        <collectionReference>CurOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Giganet_Product_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Giganet_Products</name>
        <label>Giganet Products</label>
        <locationX>189</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGiganetProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurOpportunityID</elementReference>
            </value>
        </filters>
        <object>Giganet_Product__c</object>
        <outputReference>CurOpportunityProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Install_Amount__c</queriedFields>
        <queriedFields>Install_Gross_Profit__c</queriedFields>
        <queriedFields>Monthly_Contract_GP__c</queriedFields>
        <queriedFields>Monthly_Contract_Revenue__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>456</locationX>
        <locationY>476</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>TotalInstallAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallGross_Profit__c</field>
            <value>
                <elementReference>TotalInstallGP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Contract_GP__c</field>
            <value>
                <elementReference>TotalMonthlyGP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Contract_Revenue__c</field>
            <value>
                <elementReference>TotalMonthlyRevenue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Giganet_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giganet_Product__c</objectType>
    </variables>
    <variables>
        <name>TotalInstallAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalInstallGP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalMonthlyGP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalMonthlyRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
