force-app/main/default/flows/Loop_Locations_of_Focus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_RTM_ID</name>
        <label>Assign RTM ID</label>
        <locationX>1452</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Route_to_Market__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Collection</name>
        <label>Assignment Collection</label>
        <locationX>1452</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>CollectAllRegionsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RTMGiganetRegionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Locations_of_Focus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment</name>
        <label>NorthAssignment</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment_0_0_0</name>
        <label>NorthAssignment</label>
        <locationX>1320</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment_0_0_0_0</name>
        <label>NorthAssignment</label>
        <locationX>1584</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment_0_0_0_0_0</name>
        <label>NorthAssignment</label>
        <locationX>1848</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment_0_0_0_0_0_0</name>
        <label>NorthAssignment</label>
        <locationX>2112</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthAssignment_0_0_0_0_0_0_0</name>
        <label>NorthAssignment</label>
        <locationX>2376</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NorthEastAssignment</name>
        <label>NorthEastAssignment</label>
        <locationX>792</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.North_East__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ScotlandAssignment</name>
        <label>ScotlandAssignment</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.Scotland__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>YorkshireAssignment</name>
        <label>YorkshireAssignment</label>
        <locationX>1056</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RTMGiganetRegionVariable.Yorkshire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RTM_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Giganet_Region_Decision</name>
        <label>Giganet Region Decision</label>
        <locationX>1452</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_RTM_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scotland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scotland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScotlandAssignment</targetReference>
            </connector>
            <label>Scotland</label>
        </rules>
        <rules>
            <name>North</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment</targetReference>
            </connector>
            <label>North</label>
        </rules>
        <rules>
            <name>North_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North East</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthEastAssignment</targetReference>
            </connector>
            <label>North East</label>
        </rules>
        <rules>
            <name>Yorkshire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yorkshire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YorkshireAssignment</targetReference>
            </connector>
            <label>Yorkshire</label>
        </rules>
        <rules>
            <name>Midlands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Midlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment_0_0_0</targetReference>
            </connector>
            <label>Midlands</label>
        </rules>
        <rules>
            <name>East_Anglia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East Anglia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment_0_0_0_0</targetReference>
            </connector>
            <label>East Anglia</label>
        </rules>
        <rules>
            <name>South_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South West</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment_0_0_0_0_0</targetReference>
            </connector>
            <label>South West</label>
        </rules>
        <rules>
            <name>South_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South East</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment_0_0_0_0_0_0</targetReference>
            </connector>
            <label>South East</label>
        </rules>
        <rules>
            <name>Berks_Bucks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Locations_of_Focus.Giganet_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Berks &amp; Bucks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NorthAssignment_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Berks &amp; Bucks</label>
        </rules>
    </decisions>
    <interviewLabel>Loop Locations of Focus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop Locations of Focus</label>
    <loops>
        <name>Loop_Locations_of_Focus</name>
        <label>Loop Locations of Focus</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Locations_of_Focus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Giganet_Region_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Locations_of_Focus</name>
        <label>Get All Locations of Focus</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Route_to_Market</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Route_to_Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Route_to_Market__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_of_Focus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Route_to_Market</name>
        <label>Get Route to Market</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Locations_of_Focus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Route_to_Market__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Route_to_Market__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update Route to Market</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>CollectAllRegionsVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Locations_of_Focus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Route_to_Market__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Location_of_Focus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectAllRegionsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
    <variables>
        <name>RTMGiganetRegionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Route_to_Market__c</objectType>
    </variables>
</Flow>
