force-app/main/default/flows/MSA_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Company_House_Profile_Search</name>
        <label>Company House Profile Search</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>comp_house__CompanyHouse_CompanyProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Profile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>companyRegNumber</name>
            <value>
                <elementReference>SelectedCompanyId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanyProfile</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Company_Search_Results</name>
        <label>Company Search Results</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>comp_house__CompanyHouse_CompanySearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountNames</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompanySearchResults</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MSA_Email</name>
        <label>Send MSA Email</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>MSA_Request_Screen_Sent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk, amie.holmes@giganet.uk, sales-support@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$User.FirstName} MSA Contract Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Was_a_result_selected</name>
        <label>Was a result selected?</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>No, a result was not selected</defaultConnectorLabel>
        <rules>
            <name>Yes_a_result_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCompanyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_House_Profile_Search</targetReference>
            </connector>
            <label>Yes, a result was selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TermChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term__c</picklistField>
        <picklistObject>Sales_Support_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountNameUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!AccountName} != &apos;&apos;, {!AccountName}, {!Get_Current_Channel_Lead.Company})</expression>
    </formulas>
    <formulas>
        <name>BillingCityUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingCity} != &apos;&apos;, {!BillingCity}, {!Get_Current_Channel_Lead.City})</expression>
    </formulas>
    <formulas>
        <name>BillingCountryUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingCountry} != &apos;&apos;, {!BillingCountry}, {!Get_Current_Channel_Lead.Country})</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCodeUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingPostalCode} != &apos;&apos;, {!BillingPostalCode}, {!Get_Current_Channel_Lead.PostalCode})</expression>
    </formulas>
    <formulas>
        <name>BillingStateUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingState} != &apos;&apos;, {!BillingState}, {!Get_Current_Channel_Lead.State})</expression>
    </formulas>
    <formulas>
        <name>BillingStreetUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingStreet} != &apos;&apos;, {!BillingStreet}, {!Get_Current_Channel_Lead.Street})</expression>
    </formulas>
    <formulas>
        <name>CompanyCreatedDateUpdate</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!CompanyCreatedDate}, {!Get_Current_Channel_Lead.Company_Creation_Date__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyJurisdictionUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyJurisdiction} != &apos;&apos;, {!CompanyJurisdiction}, {!Get_Current_Channel_Lead.Company_Jurisdiction__c} )</expression>
    </formulas>
    <formulas>
        <name>CompanyNumberUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyNumber} != &apos;&apos;, {!CompanyNumber}, {!Get_Current_Channel_Lead.Company_Number__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyStatusUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyStatus} != &apos;&apos;, {!CompanyStatus}, {!Get_Current_Channel_Lead.Company_Status__c} )</expression>
    </formulas>
    <formulas>
        <name>CompanyTypeUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyType} != &apos;&apos;, {!CompanyType}, {!Get_Current_Channel_Lead.Company_Type__c} )</expression>
    </formulas>
    <formulas>
        <name>SICUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!SicCodes} != &apos;&apos;, {!SicCodes}, {!Get_Current_Channel_Lead.SIC_CODE__c})</expression>
    </formulas>
    <interviewLabel>MSA Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSA Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MSA_Request</name>
        <label>Create MSA Request</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Send_MSA_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Lookup__c</field>
            <value>
                <elementReference>Get_Current_Channel_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Partner MSA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01267000000V34LAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>TermChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Support_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Channel_Lead</name>
        <label>Get Current Channel Lead</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_MSA_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_MSA_Request</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>BillingCityUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>AccountNameUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Creation_Date__c</field>
            <value>
                <elementReference>CompanyCreatedDateUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Jurisdiction__c</field>
            <value>
                <elementReference>CompanyJurisdictionUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Number__c</field>
            <value>
                <elementReference>CompanyNumberUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Status__c</field>
            <value>
                <elementReference>CompanyStatusUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Type__c</field>
            <value>
                <elementReference>CompanyTypeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>BillingCountryUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>BillingPostalCodeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIC_CODE__c</field>
            <value>
                <elementReference>SICUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>BillingStateUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>MSA Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>BillingStreetUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Display_Profile</name>
        <label>Display Profile</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>DisplayCompanyProfile</name>
            <extensionName>comp_house:CompanyHouse_DisplayCompanyProfileResult</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>results</name>
                <value>
                    <elementReference>CompanyProfile</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountName</assignToReference>
                <name>accountName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingCity</assignToReference>
                <name>billingCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingCountry</assignToReference>
                <name>billingCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingPostalCode</assignToReference>
                <name>billingPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingState</assignToReference>
                <name>billingState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingStreet</assignToReference>
                <name>billingStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyCreatedDate</assignToReference>
                <name>companyCreatedDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyJurisdiction</assignToReference>
                <name>companyJurisdiction</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyNumber</assignToReference>
                <name>companyNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyStatus</assignToReference>
                <name>companyStatus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyType</assignToReference>
                <name>companyType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SicCodes</assignToReference>
                <name>sicCodeType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_a_result_selected</targetReference>
        </connector>
        <fields>
            <name>Display_Company_Search_Results</name>
            <extensionName>comp_house:CompanyHouse_DisplayCompanySearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>results</name>
                <value>
                    <elementReference>CompanySearchResults</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCompanyId</assignToReference>
                <name>selection</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Something went wrong with this flow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Josh will receive an email about this error.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;More details of the error can be found below:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MSA_Request_Screen_Sent</name>
        <label>MSA Request Screen Sent</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Success! Your MSA request has been sent. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The contract will shortly be sent out to your specified contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_MSA_Screen</name>
        <label>Send MSA Screen</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Company_Search_Results</targetReference>
        </connector>
        <fields>
            <name>Send_MSA_to_a_different_lead</name>
            <dataType>Boolean</dataType>
            <fieldText>Send MSA to a different lead</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_MSA_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_MSA_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Custom</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email_Custom</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_MSA_to_a_different_lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Channel_Lead.Company</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Term</name>
            <choiceReferences>TermChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>36 Months</stringValue>
            </defaultValue>
            <fieldText>Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Channel_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;***New MSA Contract to Send***&lt;/strong&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Lead Link:           &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;https://m12.lightning.force.com/lightning/r/Lead/{!Get_Current_Channel_Lead.Id}/view&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Lead Name:        &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Current_Channel_Lead.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Lead Email:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;        {!Get_Current_Channel_Lead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Term:                    &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!TermChoice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Notes:   &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;              {!Notes}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Legal Company Name:   &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!AccountNameUpdate} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Company Number:          &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!CompanyNumberUpdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Registered Address:       &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!BillingStreetUpdate}, {!BillingCityUpdate}, {!BillingStateUpdate}, {!BillingPostalCodeUpdate}, {!BillingCountryUpdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Does the MSA need to be sent to someone else?&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;  --&amp;gt; {!Send_MSA_to_a_different_lead}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Alternative MSA Signer: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Name_Custom.firstName} {!Name_Custom.lastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Email_Custom.value}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyJurisdiction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyProfile</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanySearchResults</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SicCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateLeadVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
