force-app/main/default/flows/Product_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>GiganetConnectUsers</name>
        <choiceText>Giganet Connect Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Giganet Connect Users</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Product_Selection_Decision</name>
        <label>Product Selection Decision</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Giganet_Connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_to_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GiganetConnectUsers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Giganet_Connect_User_Subflow</targetReference>
            </connector>
            <label>Giganet Connect</label>
        </rules>
    </decisions>
    <interviewLabel>Product Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Product_Screen</name>
        <label>Select Product Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Selection_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Product_to_Add</name>
            <choiceReferences>GiganetConnectUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product to Add</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Product_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Giganet_Connect_User_Subflow</name>
        <label>Giganet Connect User Subflow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>Giganet_Connect_User_Profile</flowName>
    </subflows>
</Flow>
