force-app/main/default/flows/Quote_Contract_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Contract_Request_Email</name>
        <label>Contract Request Email</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Contract_Request_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Contract_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giga.net.uk, amie.holmes@giga.net.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$User.FirstName}&apos;s Contract Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Request_Email_from_Lead</name>
        <label>Contract Request Email from Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Contract_Request_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Contract_Email_Body_LEAD_Info</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giga.net.uk, amie.holmes@giga.net.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$User.FirstName}&apos;s Contract Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Quote_Request_Email</name>
        <label>Quote Request Email</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Quote_Request_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Quote_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giga.net.uk, amie.holmes@giga.net.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$User.FirstName}&apos;s Quote Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This will send a quote request email using the information for the opportunity and contact information.</description>
        <name>Quote_Request_Email_existing_contact</name>
        <label>Quote Request Email (existing contact)</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Quote_Request_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Quote_Email_Body_OPP_CON_Info</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giga.net.uk, amie.holmes@giga.net.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$User.FirstName}&apos;s Quote Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>This decision allows the flow to determine where it needs to find information from the correct record (Lead/opp/contact). Once the right info has been found it can then be passed to the email notification.</description>
        <name>Contract_decision_info_required</name>
        <label>Contract decision info required</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Info_required_for_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Records_for_Contract</targetReference>
            </connector>
            <label>Lead Info required for contract</label>
        </rules>
        <rules>
            <name>Opp_Contact_Info_required_for_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Info</targetReference>
            </connector>
            <label>Opp/Contact Info required for contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision allows the flow to determine where it needs to find information from the correct record (Lead/opp/contact). Once the right info has been found it can then be passed to the email notification.</description>
        <name>Quote_decision_info_required</name>
        <label>Quote decision info required</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Info_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relate_to_Opportunity_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Info</targetReference>
            </connector>
            <label>Lead Info required</label>
        </rules>
        <rules>
            <name>Opp_Contact_Info_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relate_to_Opportunity_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Records_for_Quote</targetReference>
            </connector>
            <label>Opp/Contact Info required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Decision</name>
        <label>Request Decision</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01267000000cnYzAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Request_Screen</targetReference>
            </connector>
            <label>Contract Request</label>
        </rules>
        <rules>
            <name>Quote_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01267000000cnYuAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Request_Screen</targetReference>
            </connector>
            <label>Quote Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>For record type picklist which provides a choice of the objects record types</description>
        <name>RecordTypeChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Support_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01267000000V2kBAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01267000000V34LAAS</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TermPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term__c</picklistField>
        <picklistObject>Sales_Support_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quote/Contract Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote/Contract Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This will create a record in the sales support object for a contract request.</description>
        <name>Create_Contract_Request</name>
        <label>Create Contract Request</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Contract_decision_info_required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bespoke_Set_up_Cost__c</field>
            <value>
                <elementReference>Bespoke_Set_up_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bespoke_Supplier_Rental_Cost__c</field>
            <value>
                <elementReference>Bespoke_Supplier_Rental_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Lookup__c</field>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Lookup__c</field>
            <value>
                <elementReference>Lead_Lookup_Contract.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Contract_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>Opportunity_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_s_required_for_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Quote_Reference__c</field>
            <value>
                <elementReference>Supplier_Quote_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>TermPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Support_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will create a record in the sales support object for a quote request.</description>
        <name>Create_Quote_Request</name>
        <label>Create Quote Request</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Quote_decision_info_required</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact_Lookup__c</field>
            <value>
                <elementReference>Contact_Lookup_Quote.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Close_Date__c</field>
            <value>
                <elementReference>Est_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Lookup__c</field>
            <value>
                <elementReference>Lead_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Quote_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lookup__c</field>
            <value>
                <elementReference>Opportunity_lookup_Quote.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_s_to_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Quote_Term</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Support_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Once the record has been created, we need to get some more information about the lead so that we can put that into the email alert</description>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Request_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Quote_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find Salesforce records and stores their field values in a variable</description>
        <name>Get_Lead_Records_for_Contract</name>
        <label>Get Lead Records for Contract</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Request_Email_from_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Lookup_Contract.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_ID__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Company</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Once the record has been created, we need to get some more information about the Opportunity so that we can put that into the email alert.</description>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Request_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quote_ID__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records_for_Quote</name>
        <label>Get Opportunity Records for Quote</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Request_Email_existing_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_lookup_Quote.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Quote_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contract_Request_Screen</name>
        <label>Contract Request Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contract_Request</targetReference>
        </connector>
        <fields>
            <name>Product_s_required_for_Contract</name>
            <dataType>String</dataType>
            <fieldText>Product/s required for Contract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contract_Term</name>
            <choiceReferences>TermPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Standard_Supplier_Buy_Price</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Standard Supplier Buy Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Contract_to_Lead</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Contract to Lead</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Request_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Request_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Support_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opportunity_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Support_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_Request_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Request_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Lookup_Contract</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Support_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Send_Contract_to_Lead</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contract_Request_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Request_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bespoke_Set_up_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Bespoke Set up Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bespoke_Supplier_Rental_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Bespoke Supplier Rental Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Supplier_Quote_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Supplier Quote Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Standard_Supplier_Buy_Price</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Request_Sent</name>
        <label>Contract Request Sent</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contract_Request_success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;Contract Request sent &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Something went wrong with this flow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Josh will receive an email about this error.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;More details of the error can be found below:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Request_Screen</name>
        <label>Quote Request Screen</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Quote_Request</targetReference>
        </connector>
        <fields>
            <name>Product_s_to_Quote</name>
            <dataType>String</dataType>
            <fieldText>Product/s to Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Est_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Est Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Term</name>
            <choiceReferences>TermPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Relate_to_Opportunity_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Quote to Opportunity &amp; Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Support_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Relate_to_Opportunity_Contact</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Lookup_Quote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Support_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Relate_to_Opportunity_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_lookup_Quote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Support_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Relate_to_Opportunity_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Request_Sent</name>
        <label>Quote Request Sent</label>
        <locationX>1370</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Success_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Quotation request sent &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Quote request, etc</description>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Decision</targetReference>
        </connector>
        <fields>
            <name>Request_Type_Choice</name>
            <choiceReferences>RecordTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Contract_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;***New Contract to Send***&lt;/b&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Quote ID:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;Click me for the Quote Link&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://api.m12.net.uk/quotes/&lt;/a&gt;&lt;a href=&quot;Click me for the Quote Link&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opportunity_Info.Quote_ID__c}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Opport&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;unity:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Opportunity_Lookup.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Account:        &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Get_Opportunity_Info.Account_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact:        &lt;/b&gt; {!Contact_Lookup.recordName}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lead:              &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Lead_Lookup_Contract.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;Products: &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Product_s_required_for_Contract}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;Term:        &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Contract_Term}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;Notes:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;         {!Contract_Notes}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;﻿Bespoke Pricing&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Bespoke Supplier Set up:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; {!Bespoke_Set_up_Cost}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Bespoke Supplier Rental:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; {!Bespoke_Supplier_Rental_Cost}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Suplier Quote Reference:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt; {!Supplier_Quote_Reference}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Contract_Email_Body_LEAD_Info</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;***New Contract to Send***&lt;/b&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Quote ID:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; https://api.m12.net.uk/quotes/{!Get_Lead_Records_for_Contract.Quote_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Lead Link:  &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://m12.lightning.force.com/lightning/r/Lead/{!Lead_Lookup_Contract.recordId}/view&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Account:&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Lead_Records_for_Contract.Company}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Lead:&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Lead_Lookup_Contract.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Email:&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; {!Get_Lead_Records_for_Contract.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Products:&lt;/b&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;{!Product_s_required_for_Contract}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Term:&lt;/b&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;{!Contract_Term}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Notes:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; {!Contract_Notes}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Bespoke Pricing&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Bespoke Supplier Set up:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; {!Bespoke_Set_up_Cost}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;Bespoke Supplier Rental:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt; {!Bespoke_Supplier_Rental_Cost}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Suplier Quote Reference:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt; {!Supplier_Quote_Reference}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Quote_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;***New Quotation to Send***&lt;/b&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Quote ID:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;   &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://api.m12.net.uk/quotes/{!Get_Lead_Info.Quote_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://api.m12.net.uk/quotes/&lt;/a&gt;&lt;a href=&quot;https://api.m12.net.uk/quotes/{!Get_Lead_Info.Quote_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead_Info.Quote_ID__c}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Lead Link: &lt;/b&gt;https://m12.lightning.force.com/lightning/r/Lead/{!Lead_Lookup.recordId}/view&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Company: &lt;/b&gt;{!Get_Lead_Info.Company}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Lead           &lt;/b&gt;{!Lead_Lookup.recordName} &lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Email:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;         {!Get_Lead_Info.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;Products:&lt;/b&gt;&lt;b style=&quot;color: rgb(244, 7, 7);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;            {!Product_s_to_Quote}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;Term: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;                &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!Quote_Term}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;Est Close Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Est_Close_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;Notes:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;                     {!Quote_Notes}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the quote temple using information from existing contact/opportunity in salesforce. Typically used if more than one quote is being sent to the same opp.</description>
        <name>Quote_Email_Body_OPP_CON_Info</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;***New Quotation to Send***&lt;/b&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Quote ID:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;Quote ID Link&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt; https://api.m12.net.uk/quotes/&lt;/a&gt;&lt;a href=&quot;Quote ID Link&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opportunity_Records_for_Quote.Quote_ID__c}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Link: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://m12.lightning.force.com/lightning/r/Opportunity/{!Opportunity_lookup_Quote.recordId}/view&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Company:  &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Opportunity_Records_for_Quote.Account_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Contact:  &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;   &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!Contact_Lookup_Quote.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Products:&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;             {!Product_s_to_Quote}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Term: &lt;/b&gt;&lt;span style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;    &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt;                 &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 7, 7); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Quote_Term}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Est Close Date:&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 7, 7);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;{!Est_Close_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(244, 7, 7);&quot;&gt;Notes:&lt;/b&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 18px;&quot;&gt;     &lt;/span&gt;&lt;span style=&quot;color: rgb(244, 7, 7); font-size: 16px;&quot;&gt;                {!Quote_Notes}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
