force-app/main/default/flows/Quote_to_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Uses the opportunity’s or account’s field values to assign field values to a contract.

ACTION: Review the contract fields, and add remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the contract here.</description>
        <name>Assign_Contract_Fields</name>
        <label>Assign Contract Fields</label>
        <locationX>708</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>oContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Twelve</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Relates the opportunity to the contract that was just created.</description>
        <name>Set_Contract_on_Oppty</name>
        <label>Set Contract on Oppty</label>
        <locationX>864</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>oOppty.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Relates the quote to the contract that was just created.</description>
        <name>Set_Contract_on_Quote</name>
        <label>Set Contract on Quote</label>
        <locationX>1169</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>oQuote.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the contract’s Status field to Activated in the sObject variable.

Include this element if you want the flow to activate the new contract.</description>
        <name>Set_Contract_Status_to_Activated</name>
        <label>Set Contract Status to Activated</label>
        <locationX>1018</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>oContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Twelve</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Evaluates whether the quote is related to a contract.

If the quote is already related to a contract, a new contract will not be generated.</description>
        <name>Contract_on_Quote</name>
        <label>Contract on Quote?</label>
        <locationX>458</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>Contract non-null</defaultConnectorLabel>
        <rules>
            <name>Contract_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oQuote.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Fields</targetReference>
            </connector>
            <label>Contract is null</label>
        </rules>
    </decisions>
    <description>Creates a contract from a quote</description>
    <label>Quote to Contract</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject variable to create a contract.</description>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>865</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Set_Contract_Status_to_Activated</targetReference>
        </connector>
        <inputReference>oContract</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Looks up the account that’s related to the opportunity, and stores selected account fields in an sObject variable.

ACTION: Review the account fields, and add additional fields as needed to the sObject variable.</description>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>314</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_on_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This step reads the Opportunity with the Opportunity ID passed to the Flow and stores selected Opportunity fields in the sObject Variable to be used in later steps.

ACTION: Review the Opportunity fields retrieved and add additional fields as needed to the sObject Variable.</description>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>170</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oQuote.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oOppty</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Uses the Quote ID that was passed to the flow to look up the quote, and stores selected quote fields in an sObject variable.

ACTION: Review the quote fields retrieved, and add additional fields as needed to the sObject variable.</description>
        <name>Get_Quote_Fields</name>
        <label>Get Quote Fields</label>
        <locationX>24</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>oQuote</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the contract.

Include this element if you want the flow to activate the new contract.</description>
        <name>Activate_Contract</name>
        <label>Activate Contract</label>
        <locationX>1169</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Set_Contract_on_Quote</targetReference>
        </connector>
        <inputReference>oContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the opportunity.</description>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>706</locationX>
        <locationY>143</locationY>
        <inputReference>oOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the quote.</description>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>1015</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Set_Contract_on_Oppty</targetReference>
        </connector>
        <inputReference>oQuote</inputReference>
    </recordUpdates>
    <startElementReference>Get_Quote_Fields</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>listOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>listQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>oOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>oOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>oQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>oQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
