force-app/main/default/flows/Telemarketer_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Appointment_Call_Task</name>
        <label>Appointment Call Task</label>
        <locationX>554</locationX>
        <locationY>1418</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Appointment_call_booked_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assigned_Appointment_Call</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Lead_Interest_Requirments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>{!LeadRating} {!Appointment_Type} Giganet Appointment Call </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_no_answer_gatekeeper</name>
        <label>Create Task no answer/gatekeeper</label>
        <locationX>1201</locationX>
        <locationY>877</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Call_not_asnwered_gatekeper_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Reason_For_Follow_Up_Task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Set_Follow_up_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow up Task for Lead (not answered/gaterkeeper)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Follow_up_Task</name>
        <label>Follow-up Task</label>
        <locationX>192</locationX>
        <locationY>1422</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Follow_up_Task_set</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Reason_for_Follow_up</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Follow_up_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow up Task for Lead </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Hot_Transfer_Appointment_Call_Task</name>
        <label>Hot Transfer Appointment Call Task</label>
        <locationX>822</locationX>
        <locationY>1437</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Lead_Owner_transferred</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assign_Hot_Lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>HotTransferText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Hot Transfer {!Appointment_Type} Giganet Appointment Call</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rebooked_Meeting_Task</name>
        <label>Rebooked Meeting Task</label>
        <locationX>1045</locationX>
        <locationY>1430</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Appointment_call_booked_screen_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assigned_Appointment_Call</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Lead_Interest_Requirments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>{!LeadRating} {!Appointment_Type} Giganet Rebooked Meeting</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>2034</locationX>
        <locationY>891</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TaskandEmailCreated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Lead_Info.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Giganet Appointment Follow up </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>CallAnswered</name>
        <choiceText>Call Answered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Answered</stringValue>
        </value>
    </choices>
    <choices>
        <name>CallNotAnswered_GateKeeper</name>
        <choiceText>Call Not Answered/GateKeeper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Not Answered/GateKeeper</stringValue>
        </value>
    </choices>
    <choices>
        <name>DaleCall</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Dale Crowton&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0056700000ArV0wAAF</stringValue>
        </value>
    </choices>
    <choices>
        <name>HotTransfer</name>
        <choiceText>Hot Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet</name>
        <choiceText>Internet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet_PhoneSystem</name>
        <choiceText>Internet and Phone System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet and Phone System</stringValue>
        </value>
    </choices>
    <choices>
        <name>JagCall</name>
        <choiceText>Jag Digwa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>005b00000029GEZAA2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partnership</name>
        <choiceText>Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneSystem</name>
        <choiceText>Phone System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone System</stringValue>
        </value>
    </choices>
    <choices>
        <name>SetAppointmentCall</name>
        <choiceText>Set Appointment Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Appointment Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>SetDisqualification</name>
        <choiceText>Set Disqualification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Disqualification</stringValue>
        </value>
    </choices>
    <choices>
        <name>SetFollowupTask</name>
        <choiceText>Set Follow up Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Follow up Task </stringValue>
        </value>
    </choices>
    <choices>
        <name>SetRebookedMeeting</name>
        <choiceText>Re-Booked Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Booked Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>WillCall</name>
        <choiceText>Will Oakeley</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0056700000ByvXWAAZ</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Call_Decision_Outcome</name>
        <label>Call Decision Outcome</label>
        <locationX>947</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CallAnswered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Answered_Screen</targetReference>
            </connector>
            <label>Call Answered</label>
        </rules>
        <rules>
            <name>Call_Not_Answered_GateKeeper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CallNotAnswered_GateKeeper</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Call_not_answered_gatekeeper</targetReference>
            </connector>
            <label>Call Not Answered/GateKeeper</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_not_asnwered_gatekeper_decision</name>
        <label>Call not asnwered/gatekeper decision</label>
        <locationX>1634</locationX>
        <locationY>879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>send_email_to_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Follow_Up_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>send email to lead</label>
        </rules>
        <rules>
            <name>no_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Follow_Up_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Created_Screen</targetReference>
            </connector>
            <label>no email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Action_Decision</name>
        <label>Lead Action Decision</label>
        <locationX>672</locationX>
        <locationY>1045</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetAppointmentCall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Appointment_Update</targetReference>
            </connector>
            <label>Appointment Decision</label>
        </rules>
        <rules>
            <name>Follow_up_Task_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetFollowupTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Followup_Update</targetReference>
            </connector>
            <label>Follow-up Task Decision</label>
        </rules>
        <rules>
            <name>Disqualification_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetDisqualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Disqualification_Update</targetReference>
            </connector>
            <label>Disqualification Decision</label>
        </rules>
        <rules>
            <name>Re_Booked_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetRebookedMeeting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebooked_Lead_Update</targetReference>
            </connector>
            <label>Re-Booked Meeting</label>
        </rules>
        <rules>
            <name>Hot_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HotTransfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hot_Transfer_Update_Lead</targetReference>
            </connector>
            <label>Hot Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DisqualifiedReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disqualified_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhoneSystemChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Phone_System__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhoneSystemType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phone_System_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofConnectionChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internet_Line_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Telemarketer Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Telemarketer Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>954</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Hot_Transfer_Update_Lead</name>
        <label>Hot Transfer Update Lead</label>
        <locationX>820</locationX>
        <locationY>1244</locationY>
        <connector>
            <targetReference>Hot_Transfer_Appointment_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_Hot_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Appointment_Update</name>
        <label>Lead Appointment Update</label>
        <locationX>555</locationX>
        <locationY>1233</locationY>
        <connector>
            <targetReference>Appointment_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Industry__c</field>
            <value>
                <elementReference>Other_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Appointment_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>LeadRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Disqualification_Update</name>
        <label>Lead Disqualification Update</label>
        <locationX>50</locationX>
        <locationY>1041</locationY>
        <connector>
            <targetReference>Disqualified_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disqualified_Reason__c</field>
            <value>
                <elementReference>DisqualifiedReasonChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Industry__c</field>
            <value>
                <elementReference>Other_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Followup_Update</name>
        <label>Lead Followup Update</label>
        <locationX>193</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Follow_up_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Update</name>
        <label>Lead Update</label>
        <locationX>682</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>Lead_Action_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Phone_System__c</field>
            <value>
                <elementReference>Phone_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Contract_Expiry_Date__c</field>
            <value>
                <elementReference>Contract_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Line_Type__c</field>
            <value>
                <elementReference>Type_of_Connection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Provider__c</field>
            <value>
                <elementReference>Internet_Service_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Service_Description__c</field>
            <value>
                <stringValue>{!Connection_Speed} &amp; {!Monthly_Rental_Price} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Contacted_Date__c</field>
            <value>
                <elementReference>LastContactDateUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Phone_System__c</field>
            <value>
                <elementReference>Other_Phone_System_Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Age__c</field>
            <value>
                <elementReference>Phone_System_Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Type__c</field>
            <value>
                <elementReference>Phone_System_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_system_no_of_extensions__c</field>
            <value>
                <elementReference>Number_of_Users</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rebooked_Lead_Update</name>
        <label>Rebooked Lead Update</label>
        <locationX>1046</locationX>
        <locationY>1245</locationY>
        <connector>
            <targetReference>Rebooked_Meeting_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Appointment_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>LeadRating</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Call_not_answered_gatekeeper</name>
        <label>Update Call not answered/gatekeeper</label>
        <locationX>1198</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Follow_Up_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Appointment_call_booked_screen</name>
        <label>Appointment call booked screen</label>
        <locationX>554</locationX>
        <locationY>1586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Appointment_Call_Booked_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(21, 179, 68);&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Appointment Call Booked&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Appointment_call_booked_screen_0</name>
        <label>Appointment call booked screen</label>
        <locationX>1045</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Rebooked_Appointment_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 179, 68); font-size: 26px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Rebooked Call&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Call_Answered_Screen</name>
        <label>Call Answered Screen</label>
        <locationX>684</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lead_Update</targetReference>
        </connector>
        <fields>
            <name>Lead_current_setup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;What is the Lead&apos;s Current Set-up?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Internet_Solution</name>
            <dataType>Boolean</dataType>
            <fieldText>Current Internet Solution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Phone_Solution</name>
            <dataType>Boolean</dataType>
            <fieldText>Current Phone Solution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Answered_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Call_Answered_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Internet_Service_Provider</name>
                    <dataType>String</dataType>
                    <fieldText>Internet Service Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Connection</name>
                    <choiceReferences>TypeofConnectionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Connection</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Connection_Speed</name>
                    <dataType>String</dataType>
                    <fieldText>Connection Speed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Monthly_Rental_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monthly Rental Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Contract_Expiry</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Expiry</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_Internet_Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Call_Answered_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Call_Answered_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_System_Type</name>
                    <choiceReferences>PhoneSystemType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone System Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone_System</name>
                    <choiceReferences>PhoneSystemChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone System Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Phone_System_Brand</name>
                    <dataType>String</dataType>
                    <fieldText>Other Phone System Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Users</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Users</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Phone_System_Age</name>
                    <dataType>Date</dataType>
                    <fieldText>Phone System Age</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_Phone_Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Disqualified_screen</name>
        <label>Disqualified screen</label>
        <locationX>50</locationX>
        <locationY>1218</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FollowUpTaskSet_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(21, 179, 68);&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Disqualified&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Screen</name>
        <label>Follow Up Screen</label>
        <locationX>1204</locationX>
        <locationY>740</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task_no_answer_gatekeeper</targetReference>
        </connector>
        <fields>
            <name>Followup_screen_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Follow Up Uncontacted Lead/Decision Maker&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Follow_Up_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Follow Up Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Set_Follow_up_Date</name>
            <dataType>Date</dataType>
            <fieldText>Set Follow up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_For_Follow_Up_Task</name>
            <fieldText>Reason For Follow Up Task</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Follow_up_Task_set</name>
        <label>Follow up Task set</label>
        <locationX>192</locationX>
        <locationY>1609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FollowUpTaskSet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 179, 68); font-size: 26px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Follow-Up Task Set&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Action_Screen</name>
        <label>Lead Action Screen</label>
        <locationX>678</locationX>
        <locationY>885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lead_Action_Decision</targetReference>
        </connector>
        <fields>
            <name>Book_Appointment_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Book an Appointment for a BDM&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetAppointmentCall</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_up_Task</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Set-up a Follow-up Task&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetFollowupTask</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disqualified_Reason_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Disqualified Reason&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetDisqualification</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hot_Transfer_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hot Transfer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HotTransfer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rebook_Appointment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Rebook Appointment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetRebookedMeeting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Action</name>
            <choiceReferences>SetAppointmentCall</choiceReferences>
            <choiceReferences>SetFollowupTask</choiceReferences>
            <choiceReferences>SetDisqualification</choiceReferences>
            <choiceReferences>HotTransfer</choiceReferences>
            <choiceReferences>SetRebookedMeeting</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SetAppointmentCall</defaultSelectedChoiceReference>
            <fieldText>Lead Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Type</name>
                    <choiceReferences>Internet</choiceReferences>
                    <choiceReferences>PhoneSystem</choiceReferences>
                    <choiceReferences>Internet_PhoneSystem</choiceReferences>
                    <choiceReferences>Partnership</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Internet</defaultSelectedChoiceReference>
                    <fieldText>Appointment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Action_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetAppointmentCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HotTransfer</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetRebookedMeeting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_Appointment_Call</name>
                    <choiceReferences>JagCall</choiceReferences>
                    <choiceReferences>DaleCall</choiceReferences>
                    <choiceReferences>WillCall</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned Appointment Call</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Appointment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Appointment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Action_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Rating_Picklist</name>
                    <choiceReferences>LeadRating</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Warm</stringValue>
                    </defaultValue>
                    <fieldText>Lead Rating Picklist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Lead_Interest_Requirments</name>
                    <fieldText>Lead Interest &amp; Requirments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetAppointmentCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetRebookedMeeting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_up_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Follow-up Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Action_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Follow_up</name>
                    <fieldText>Reason for Follow-up</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetFollowupTask</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disqualified_Reason</name>
                    <choiceReferences>DisqualifiedReasonChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Disqualified Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>SetDisqualification</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>IndustryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Action_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Industry</name>
                    <dataType>String</dataType>
                    <fieldText>Other Industry</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetAppointmentCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SetDisqualification</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Action_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Action_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assign_Hot_Lead</name>
                    <choiceReferences>JagCall</choiceReferences>
                    <choiceReferences>DaleCall</choiceReferences>
                    <choiceReferences>WillCall</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assign Hot Lead To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HotTransfer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Owner_transferred</name>
        <label>Lead Owner transferred</label>
        <locationX>821</locationX>
        <locationY>1601</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FollowUpTaskSet_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 179, 68); font-size: 26px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Lead Owner Transferred&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>955</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Decision_Outcome</targetReference>
        </connector>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>CallAnswered</choiceReferences>
            <choiceReferences>CallNotAnswered_GateKeeper</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CallAnswered</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Created_Screen</name>
        <label>Task Created Screen</label>
        <locationX>1643</locationX>
        <locationY>1258</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FollowUpTaskSet_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 179, 68); font-size: 26px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Task Created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TaskandEmailCreated</name>
        <label>Task and Email Created</label>
        <locationX>2057</locationX>
        <locationY>1245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Task_Email_Created_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 179, 68); font-size: 26px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Task and Email Created &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>828</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Lead_Info.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I tried to call but unfortunely could not reach you, please call me back on 0987654321&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind Regards,&lt;/p&gt;&lt;p&gt;{!$User.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HotTransferText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Appointment Call set up by {!$User.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>LastContactDateUpdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
