force-app/main/default/flows/Update_BANT_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Answer_to_Collection</name>
        <label>Add Answer to Collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_BANT_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_BANT_Values</name>
        <label>Set_New_BANT_Values</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VarScore.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerRadioButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_BANT_Scores.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_more_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarScore.Last_Score_Set__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Answer_to_Collection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>BANTAnswer</name>
        <dataType>String</dataType>
        <displayField>Answer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Select_BANT_Scores.Question_Number__c</elementReference>
            </value>
        </filters>
        <object>BANT_Answer__mdt</object>
        <outputAssignments>
            <assignToReference>Score.Value__c</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Update BANT Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BANT Screen</label>
    <loops>
        <name>Select_BANT_Scores</name>
        <label>Select BANT Scores</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>BANTScore.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Answer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BANT_Scores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BANT_Score</name>
        <label>Get BANT Score</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BANT_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BANT_Score__c</object>
        <sortField>Category__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BANT_Scores</name>
        <label>Update BANT Scores</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>VarCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>BANT_Screen</name>
        <label>BANT Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_BANT_Scores</targetReference>
        </connector>
        <fields>
            <name>BANTScore</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BANT_Score__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>BANT_Score__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_BANT_Score</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Category__c,Question__c,Answer__c,Notes__c,Score__c,Last_Score_Set__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Category__c:115, Question__c:348, Answer__c:233, Notes__c:299, Score__c:130, Last_Score_Set__c:135</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:lead_insights</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Category__c:true, Question__c:true, Answer__c:true, Notes__c:true, Score__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Answer</name>
        <label>Select Answer</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_New_BANT_Values</targetReference>
        </connector>
        <fields>
            <name>SelectAnswerScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;BANT {!Select_BANT_Scores.Category__c} Question&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_score_update_date_text</name>
            <fieldText>&lt;p&gt;This question was last updated on {!Select_BANT_Scores.Last_Score_Set__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_BANT_Scores.Last_Score_Set__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Your_Answer_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Select_BANT_Scores.Question_Number__c}-{!Select_BANT_Scores.Question__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select Your Answer:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerRadioButtons</name>
            <choiceReferences>BANTAnswer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_more_information</name>
            <fieldText>Add more information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BANT_Score</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BANT_Answer__mdt</objectType>
    </variables>
    <variables>
        <name>VarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BANT_Score__c</objectType>
    </variables>
    <variables>
        <name>VarScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BANT_Score__c</objectType>
    </variables>
</Flow>
