force-app/main/default/flows/Update_Commission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_Commission_is_correct</name>
        <label>Check if Commission is correct</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CheckCorrectCommissionText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Check Commission</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_if_Commission_is_correct_email</name>
        <label>Check if Commission is correct_email</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CheckCorrectCommissionText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joshua.skipsey@giganet.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Check Commission</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Commission_Approval</name>
        <label>Submit Commission Approval</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Commission_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Case_Info.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Commission Approval Request auto-generated by flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Commission_Claw_Back_Approval</name>
        <label>Submit Commission Claw Back Approval</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Commission_Claw_Back_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Case_Info.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Commission Claw Back Approval Request auto-generated by flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Decision element to determine the commission rate</description>
        <name>Commission_Decision</name>
        <label>Commission Decision</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Commission_Package</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Owner.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005b0000000I7vQAAS</stringValue>
                </rightValue>
            </conditions>
            <label>No Commission Package</label>
        </rules>
        <rules>
            <name>Cancel_Unpaid_Commission</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.GN_Provisioning_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1.6 - Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable - Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_unpaid_commission_on_Opportunity</targetReference>
            </connector>
            <label>Cancel Unpaid Commission</label>
        </rules>
        <rules>
            <name>Minus_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.GN_Provisioning_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1.6 - Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_Commission_to_Opportunity</targetReference>
            </connector>
            <label>Minus Commission</label>
        </rules>
        <rules>
            <name>Commission_Already_Approved_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable - Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Commission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Commission_is_correct_email</targetReference>
            </connector>
            <label>Commission Already Approved Decision</label>
        </rules>
        <rules>
            <name>Add_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Info.GN_Provisioning_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1.8 - Waiting to be placed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Info.Opportunity__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RenewalRetention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Commission_to_Opportunity</targetReference>
            </connector>
            <label>Add Commission</label>
        </rules>
    </decisions>
    <formulas>
        <name>Add_Commission_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Case_Info.Opportunity__r.Total_Contract_Value__c}*{!Get_Commission_Metadata.Commission_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Commission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all case information which will be needed to calculate the commission</description>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commission_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commission_Metadata</name>
        <label>Get Commission Metadata</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commission_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Info.Opportunity__r.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Rate__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Commission_Rate__c</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>The opportunity will update with the added commission</description>
        <name>Add_Commission_to_Opportunity</name>
        <label>Add Commission to Opportunity</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Submit_Commission_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <elementReference>Add_Commission_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Status__c</field>
            <value>
                <stringValue>Payable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>The opportunity will update with the cancelled unpaid commission</description>
        <name>Cancel_unpaid_commission_on_Opportunity</name>
        <label>Cancel unpaid commission on Opportunity</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_if_Commission_is_correct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>The opportunity will update with the taken away commission</description>
        <name>Minus_Commission_to_Opportunity</name>
        <label>Minus Commission to Opportunity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Submit_Commission_Claw_Back_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Status__c</field>
            <value>
                <stringValue>Clawed Back</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Info</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>GN_Provisioning_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.8 - Waiting to be placed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GN_Provisioning_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.6 - Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CheckCorrectCommissionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please check commission of {!Get_Case_Info.Opportunity__r.Name} to determine if correct. Stage may have gone from 1.8 to 0.0 and back to 1.8&lt;/p&gt;</text>
    </textTemplates>
</Flow>
